<div gcweb class="container">
  <ng-container *ngIf="translate.currentLang === 'en'">

    <div class="row profile">
      <div class="col-md-12 pull-left">
        <h1 property="name" id="wb-cont">NRCan Open S&T Repository (OSTR)</h1>
        <p>
          The NRCan Open S&T Repository provides free and open access to publications, science and
          research published by Natural Resources Canada.
        </p>
        <section class="alert alert-info">
          <h3>Announcing the launch of the OSTR</h3>
          <p>Welcome to the official launch of the OSTR—This platform allows you to access all NRCan publications, previously housed in the Canadian
            Forest Services and GEOSCAN databases. Coming soon is the addition of the photos from the NRCan Photo database.
          </p>
        </section>
        <form (submit)="search(repoSearch.value); $event.stopPropagation();">
          <h2>Search the repository </h2>
          <label for="searchRepo" class="wb-inv">Search the Repository</label>
          <div class="input-group mrgn-tp-md">
            <input #repoSearch name="text" type="text" class="form-control" id="searchRepo" />
            <span class="input-group-btn"><button type="submit" class="btn btn-primary">Search</button></span>
          </div>
        </form>
      </div>
      <!-- advanced-search button -->
      <div class="col-md-12 pull-left">
            <div class="mrgn-tp-md pull-left">
              <a href="advanced-search">
                    {{ "home.button.advanced-search"| translate}}
              </a>
            </div>
      </div>
      <section>
        <div class="col-md-12">
        </div>
      </section>
      <section>
        <div class="col-md-12 pull-left">
          <div class="row">
            <div class="col-md-8 pull-left">
              <h2>Collections</h2>
              <p class="text-justify">Select a collection.</p>
              <div *ngFor="let item of collections">
                <ng-container *ngIf="item.name === 'GEOSCAN' || item.name === 'Canadian Forest Service'">
                <a  [routerLink]="['/collections', item.id]">
                   {{ item.name }}
                </a>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4 pull-right">
              <h2>Contact us</h2>
              <p>For general enquiries, please email <a
                  href="mailto:ostr_support-soutien_dost@nrcan-rncan.gc.ca">ostr_support-soutien_dost@nrcan-rncan.gc.ca</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section gcweb class="gc-srvinfo col-md-12">
        <h2>Services and information</h2>
        <div class="row">
          <div class="col-md-4 mrgn-bttm-md">
            <h3><a [routerLink]="'/about-us'">About</a></h3>
            <p>Find out more about the OSTR.</p>
          </div>
          <div class="col-md-4 mrgn-bttm-md">
            <h3><a [routerLink]="'/policies-and-standards'">Policies and standards</a></h3>
            <p>Details about retention, withdrawal, copyright, official languages, and accessibility.</p>
          </div>
        </div>
      </section>
    </div>
  </ng-container>

  <ng-container *ngIf="translate.currentLang === 'fr'">

    <div class="row profile">
      <div class="col-md-12 pull-left">
        <h1 property="name" id="wb-cont">Dépôt ouvert des sciences et technologie (DOST) de RNCan</h1>
        <p>Le Dépôt ouvert des sciences et technologie de RNCan offre un accès libre et gratuit aux publications, aux travaux scientifiques et aux recherches réalisés par Ressources naturelles Canada.</p>
        <section class="alert alert-info">
          <h2>Annonce du lancement du DOST</h2>
          <p>
          Bienvenue au lancement officiel du DOST – Cette plateforme vous permet d'accéder à toutes les publications de RNCan, auparavant hébergées dans les bases de données du Service canadien des forêts et de GEOSCAN. Les photos de la base de données photographiques de RNCan seront bientôt ajoutées.
          </p>
        </section>
        <form (submit)="search(searchRepo.value); $event.stopPropagation();" id="validation-example">
          <h2>Recherche dans le dépôt</h2>
          <label for="searchRepo" class="wb-inv">Recherche dans le dépôt</label>
          <div class="input-group mrgn-tp-md">
            <input #searchRepo name="text" type="text" class="form-control" id="searchRepo" />
            <span class="input-group-btn"><button type="submit" class="btn btn-primary">Recherche</button></span>
          </div>
        </form>
      </div>
      <!-- advanced-search button -->
      <div class="col-md-12 pull-left">
            <div class="mrgn-tp-md pull-left">
              <a href="advanced-search">
                    {{ "home.button.advanced-search"| translate}}
              </a>
            </div>
      </div>
      <section>
        <div class="col-md-12 pull-left">
          <div class="row">
            <div class="col-md-8 pull-left">
              <h2>Collections</h2>
              <p class="text-justify">Sélectionnez une collections.</p>
              <div *ngFor="let item of collections">
                <ng-container *ngIf="item.name === 'GEOSCAN' || item.name === 'Canadian Forest Service'">
                <a  [routerLink]="['/collections', item.id]">
                   {{ frenchName[item.name] }}
                </a>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4 pull-right">
              <h2>Contactez-nous</h2>
              <p>Pour des questions d'ordre général, veuillez envoyer un courriel à <a
                  href="mailto:ostr_support-soutien_dost@nrcan-rncan.gc.ca">ostr_support-soutien_dost@nrcan-rncan.gc.ca</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="gc-srvinfo col-md-12">
        <h2>Services et information</h2>
        <div class="row">
          <div class="col-md-4 mrgn-bttm-md">
            <h3><a [routerLink]="'/a-propos'">À propos </a></h3>
            <p>Pour en savoir plus sur le DFSOC.</p>
          </div>
          <div class="col-md-4 mrgn-bttm-md">
            <h3><a [routerLink]="'/politiques-et-normes'">Politiques et normes</a></h3>
            <p>Renseignements sur la conservation, le retrait, les droits d'auteur, les langues officielles et
              l'accessibilité.</p>
          </div>
        </div>
      </section>
    </div>
  </ng-container>
  <ds-page-details></ds-page-details>
</div>
