<div gcweb class="container w-100 h-100">
  <div class="wb-frmvld">
    <div class="row">
      <div class="col-sm-12 pull-left mrgn-bttm-lg">

        <ng-container *ngIf="translate.currentLang === 'en'">

          <h1 property="name" id="wb-cont">About the FOSRC</h1>
          <p>
            The <a href="https://open-science.canada.ca/">Federal Open Science Repository of Canada</a> provides public,
            web-based access to federally authored scientific articles and publications. Its purpose is to collect,
            preserve, and share research output from the Canadian government community to reach the broadest possible
            audience and extend the impact of Canadian science.
          </p>

          <h2>Delivering Open Science solutions</h2>

          <p>This collaborative repository enables participating science-based departments and agencies to meet their
            open
            access targets. </p>

          <p>This secure and stable tool delivers on a key recommendation in the 2020 <a
              href="https://science.gc.ca/site/science/en/office-chief-science-advisor/open-science/roadmap-open-science">Roadmap
              for Open Science</a>, released by Canada’s Chief Science Advisor, to make federal science articles and
            publications openly available by 2023. </p>

          <p>Increased access to federally funded research creates opportunities for collaboration and scientific
            advancement and maximizes benefits for our country's well-being, health, and economy. </p>
          <h2>Collaborating for greater impact </h2>
          <p>The FOSRC is a collaborative effort between the Office of the Chief Science Advisor of Canada, Shared
            Services Canada, the Federal Science Libraries Network/National Research Council of Canada, and 8
            science-based departments and agencies: </p>
          <ul>
            <li><a href="https://agriculture.canada.ca/en">Agriculture and Agri-Food Canada</a></li>
            <li><a href="https://inspection.canada.ca/eng/1297964599443/1297965645317"> Canadian Food Inspection Agency
              </a></li>
            <li><a href="https://www.asc-csa.gc.ca/eng/"> Canadian Space Agency</a> </li>
            <li><a href="https://www.canada.ca/en/environment-climate-change.html"> Environment and Climate Change
                Canada
              </a></li>
            <li><a href="https://www.dfo-mpo.gc.ca/index-eng.html"> Fisheries and Oceans Canada</a> </li>
            <li><a href="https://www.canada.ca/en/health-canada.html"> Health Canada </a></li>
            <li><a href="https://www.canada.ca/en/public-health.html"> Public Health Agency of Canada</a> </li>
            <li><a href="https://tc.canada.ca/en"> Transport Canada </a></li>
          </ul>
          <p>Researchers from participating departments and agencies can deposit their scientific publications into the
            repository for enhanced discovery, use, and preservation. The repository's flexible and customizable
            infrastructure is scalable and can manage more volume as departmental participation increases. </p>


          <h2>Contact us</h2>
          <p>For general enquiries or to find out more, please contact <a
              href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">FOSRC-DFSOC@nrc-cnrc.gc.ca</a></p>
        </ng-container>

        <ng-container *ngIf="translate.currentLang === 'fr'">
          <h1 property="name" id="wb-cont">À propos du DFSOC</h1>


          <p>
            Le <a href="https://science-ouverte.canada.ca/">Dépôt fédéral de science ouverte du Canada (DFSOC)</a> offre
            au public un accès Web aux articles et aux publications scientifiques du gouvernement fédéral. Ses objectifs
            sont de recueillir, de préserver et de partager les résultats des recherches réalisées par la communauté du
            gouvernement du Canada en vue d’atteindre le plus vaste public possible et d’accroître les retombées de la
            science canadienne.
          </p>

          <h2>Offrir des solutions de science ouverte</h2>

          <p>Ce dépôt collaboratif permet aux ministères et organismes à vocation scientifique participants d’atteindre
            leurs cibles en matière de libre accès.</p>

          <p>
            Cet outil sécurisé et stable fait suite à une recommandation clé de la <a
              href="https://science.gc.ca/site/science/fr/bureau-conseillere-scientifique-chef/science-ouverte/feuille-route-pour-science-ouverte">Feuille
              de route pour la science ouverte</a>, publiée en 2020 par la conseillère scientifique en chef du Canada,
            soit de rendre les articles et publications scientifiques fédéraux librement accessibles d’ici à 2023.

          </p>

          <p>Un accès élargi à la recherche financée par le gouvernement fédéral crée de nouvelles possibilités de
            collaboration et d’avancées scientifiques et en maximise les bénéfices pour le bien-être, la santé et
            l’économie de notre pays.</p>
          <h2>Collaborer pour un maximum de retombées</h2>
          <p>Le DFSOC est le fruit d’une collaboration qui réunit le Bureau de la conseillère scientifique en chef du
            Canada, Services partagés Canada, le Réseau des bibliothèques scientifiques fédérales/Conseil national de
            recherches du Canada et 8 ministères et organismes à vocation scientifique : </p>
          <ul>
            <li><a href="https://agriculture.canada.ca/fr">Agriculture et Agroalimentaire Canada</a></li>
            <li><a href="https://inspection.canada.ca/fra/1297964599443/1297965645317">Agence canadienne d’inspection
                des aliments </a></li>
            <li><a href="https://www.asc-csa.gc.ca/fra/">Agence spatiale canadienne </a> </li>
            <li><a href="https://www.canada.ca/fr/environnement-changement-climatique.html">Environnement et Changement
                climatique Canada </a></li>
            <li><a href="https://www.dfo-mpo.gc.ca/index-fra.html">Pêches et Océans Canada </a> </li>
            <li><a href="https://www.canada.ca/fr/sante-canada.html">Santé Canada </a></li>
            <li><a href="https://www.canada.ca/fr/sante-publique.html">Agence de la santé publique du Canada </a> </li>
            <li><a href="https://tc.canada.ca/fr">Transports Canada </a></li>
          </ul>

          <p>Les scientifiques des ministères et organismes participants peuvent déposer leurs publications dans le
            DFSOC afin d’en accroître la découverte et l’utilisation et d’en assurer la préservation. L’infrastructure
            souple et personnalisable du dépôt est évolutive et pourra gérer de plus grands volumes à mesure que la
            participation ministérielle augmentera. </p>


          <h2>Contactez-nous </h2>
          <p>Pour des demandes générales ou en savoir plus à propos du DFSOC, écrivez à <a
              href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">FOSRC-DFSOC@nrc-cnrc.gc.ca</a>. </p>

        </ng-container>
      </div>
    </div>
  </div>
  <ds-page-details></ds-page-details>
</div>