<div gcweb class="container w-100 h-100">
  <div class="wb-frmvld">
    <div class="row">
      <div class="col-sm-12 pull-left mrgn-bttm-lg">

        <ng-container *ngIf="translate.currentLang === 'en'">

          <h1 property="name" id="wb-cont">About the OSTR</h1>
          <p>
            NRCan's <a href="https://ostrnrcan-dostrncan.canada.ca/">Open Science and Technology Repository</a> provides
          public, web-based access to federally authored scientific publications and information. Its purpose is to collect, preserve,
          and share research output from Natural Resources Canada (NRCan) to reach the broadest possible audience and extend the impact of Canadian science.
          </p>

          <h2>Our Mandate</h2>

          <p>OSTR offers comprehensive services to its clients, while preserving and
            disseminating knowledge by providing access to NRCan's published information relevant to the sustainable
            development of Canada's forest, mineral, and energy resources and landmass.
            </p>

          <h2>Delivering Open Science solutions</h2>
          <p>
            This repository enables NRCan researchers to meet their open access targets and delivers on key
            recommendations in the 2020 <a href="https://science.gc.ca/site/science/en/office-chief-science-advisor/open-science/roadmap-open-science">
            Roadmap for Open Science</a> released by Canada’s Chief Science Advisor,
            as well as <a href="https://geoscan.nrcan.gc.ca/starweb/geoscan/servlet.starweb?path=geoscan/fulle.web&search1=R=329066">NRCan's Open Science Action Plan.</a>
          </p>


          <h2>Contact us</h2>
          <p>For general enquiries or to find out more, please contact <a
              href="mailto:ostr_support-soutien_dost@nrcan-rncan.gc.ca">ostr_support-soutien_dost@nrcan-rncan.gc.ca</a></p>
        </ng-container>

        <ng-container *ngIf="translate.currentLang === 'fr'">
          <h1 property="name" id="wb-cont">À propos du DOST</h1>


          <p>
          Le <a href="https://ostrnrcan-dostrncan.canada.ca/">ouvert des sciences et de technologie</a> de RNCan offre un accès public, sur le Web, aux publications et aux
          informations scientifiques rédigées par le gouvernement fédéral. Son objectif est de recueillir, de préserver et de
          partager les résultats de la recherche de Ressources naturelles Canada (RNCan) afin d'atteindre le public le plus
          large possible et d'accroître l'impact de la science canadienne.
          </p>

          <h2>Notre mandat</h2>

          <p>Le DOST offre des services complets à ses clients, tout en préservant et en diffusant les connaissances en donnant accès aux informations publiées par RNCan
            qui sont pertinentes pour le développement durable des ressources forestières, minérales et énergétiques et de la masse continentale du Canada.</p>

          <h2>Proposer des solutions de science ouverte</h2>
          <p>
          Ce dépôt permet aux chercheurs de RNCan d'atteindre leurs objectifs en matière de libre accès et de mettre en œuvre les principales recommandations
          de la <a href="https://science.gc.ca/site/science/fr/bureau-conseillere-scientifique-chef/science-ouverte/feuille-route-pour-science-ouverte">
          Feuille de route pour la science ouverte</a> publiée en 2020 par la conseillère scientifique en chef du Canada, ainsi que le
          <a href="https://geoscan.nrcan.gc.ca/starweb/geoscan/servlet.starweb?path=geoscan/fullf.web&search1=R=329066">Plan d'action pour la science ouverte de RNCan.</a>
          </p>

          <p>Un meilleur accès à la recherche financée par le gouvernement fédéral crée des possibilités de collaboration, favorise le progrès scientifique et maximise
            les avantages pour le bien-être, la santé et l'économie de notre pays. </p>

          <h2>Pour nous contacter</h2>
          <p>Pour toute question d'ordre général ou pour en savoir plus, veuillez contacte<a
              href="mailto:ostr_support-soutien_dost@nrcan-rncan.gc.ca">ostr_support-soutien_dost@nrcan-rncan.gc.ca</a>. </p>

        </ng-container>
      </div>
    </div>
  </div>
  <ds-page-details></ds-page-details>
</div>
