<div class="d-flex flex-row">
  <!--FOSRC change start-->
  <h1 id="wb-cont" class="item-page-title-field mr-auto">
    {{'official.title' | translate}} <!-- <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values> -->
    <ds-metadata-values [mdValues]="dsoOfficialTitle"></ds-metadata-values>
  </h1>
  <!--FOSRC change end (h2 is converted to h1)-->
  <div class="pl-2">
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
  </div>
</div>
<!--div>
  <h2-- class="item-page-field" *ngIf="dsoAlternativeTitleExists">
    {{'alternative.title' | translate}}
    <ds-metadata-values [mdValues]="'dc.title.alternative' | metaTranslate: object "></ds-metadata-values><br />
    <ds-metadata-values [mdValues]="'dc.title.fosrctransation' | metaTranslate: object "></!--ds-metadata-values>
    <ds-metadata-values [mdValues]="dsoAlternateTitles"></ds-metadata-values>
  </h2>
</div-->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-item-page-alternative-title-field [item]="object"></ds-item-page-alternative-title-field>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
                                     [parentItem]="object"
                                     [itemType]="'Person'"
                                     [metadataFields]="['dc.contributor.author', 'dc.creator']"
                                     [label]="'relationships.isAuthorOf' | translate">
    <ds-item-page-sponsorship-field [item]="object"></ds-item-page-sponsorship-field>
    <ds-item-page-uri-field [item]="object" [fields]="['dc.identifier.doi']" [separator]="','" [label]="'item.page.doi'"></ds-item-page-uri-field>
  
    <h5 *ngIf="hasIdentifiers()">{{'item.page.identifiers' | translate}}</h5>
    <div style="padding-left: 18px">
      <ds-item-page-govdoc-field [item]="object"></ds-item-page-govdoc-field>
      <ds-item-page-isbn-field [item]="object"></ds-item-page-isbn-field>
      <ds-item-page-issn-field [item]="object"></ds-item-page-issn-field>
      <ds-item-page-fosrc-projectid-field [item]="object"></ds-item-page-fosrc-projectid-field>
      <ds-item-page-organization-field [item]="object"></ds-item-page-organization-field>
      <ds-item-page-other-field [item]="object"></ds-item-page-other-field>
    </div>

    <ds-item-page-iso-field *ngIf="hasLanguage()" [item]="object"></ds-item-page-iso-field>

    <ds-item-page-keywords-field [item]="object"></ds-item-page-keywords-field>
    </ds-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.location.fosrcconference']"
                                [label]="'fosrc.item.edit.dynamic-field.label.conference.location'">
    </ds-generic-item-page-field>
    <h5 *ngIf="hasProject()">{{'item.page.identifiers' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.title.fosrcprojectname']"
                                [label]="'fosrc.item.edit.dynamic-field.label.project.name'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.title.fosrcprojectid']"
                                [label]="'fosrc.item.edit.dynamic-field.label.project.number'">
    </ds-generic-item-page-field>
  </div>
    <!-- <ds-generic-item-page-field [item]="object"
                                [fields]="['local.articletype']"
                                [label]="'fosrc.item.edit.dynamic-field.label.sub-type'">
    </ds-generic-item-page-field> -->

    <!-- Book -->
    <h5 *ngIf="hasBook()">{{ 'fosrc.item.edit.dynamic-field.values.2.publication_type' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.book.series']"
                                [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.book.seriesnum']"
                                [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.book.edition']"
                                [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.book.pagination']"
                                [label]="'fosrc.item.edit.dynamic-field.label.record.management.pagination'" [subheading]="true">
    </ds-generic-item-page-field>
    </div>

    <!-- Book Chapter -->
    <h5 *ngIf="hasBookChapter()">{{ 'fosrc.item.edit.dynamic-field.values.3.publication_type' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.chapter.book']"
                                [label]="'fosrc.item.edit.dynamic-field.label.book.title'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.chapter.series']"
                                [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.chapter.seriesnum']"
                                [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.chapter.pagination']"
                                [label]="'fosrc.item.edit.dynamic-field.label.record.management.pagination'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.chapter.edition']"
                                [label]="'fosrc.item.edit.dynamic-field.label.book.title'" [subheading]="true">
    </ds-generic-item-page-field>
    </div>

    <h5 *ngIf="hasConference()">{{ 'fosrc.item.edit.dynamic-field.values.4.publication_type' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conference.edition']"
                                [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conference.name']"
                                [label]="'fosrc.item.edit.dynamic-field.label.conference.name'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conference.series']"
                                [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conference.startdate']"
                                [label]="'fosrc.item.edit.dynamic-field.label.conference.start.date'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conference.enddate']"
                                [label]="'fosrc.item.edit.dynamic-field.label.conference.end.date'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.conferencetype']"
                                [label]="'fosrc.item.edit.dynamic-field.label.sub.type'" [subheading]="true">
    </ds-generic-item-page-field>
    </div>

    <h5 *ngIf="hasReport()">{{ 'fosrc.item.edit.dynamic-field.values.5.publication_type' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
    [fields]="['local.report.edition']"
    [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
    </ds-generic-item-page-field>
    
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.report.reportnum']"
                                [label]="'fosrc.item.edit.dynamic-field.label.report.no'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
    [fields]="['local.report.series']"
    [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.report.seriesnum']"
                                [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
    [fields]="['local.reporttype']"
    [label]="'fosrc.item.edit.dynamic-field.label.sub.type'" [subheading]="true">
    </ds-generic-item-page-field>
    </div>

    <!-- Article -->
    <h5 *ngIf="hasArticle()">{{ 'fosrc.item.edit.dynamic-field.values.1.publication_type' | translate}}</h5>
    <div style="padding-left: 18px">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.articletype']"
                                [label]="'Type of Article'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.acceptedmanuscript.journaltitle']"
                                [label]="'item.page.journal-title'" [subheading]="true">
    </ds-generic-item-page-field>
    
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.acceptedmanuscript.journalvolume']"
                                [label]="'journalvolume.listelement.badge'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.acceptedmanuscript.journalissue']"
                                [label]="'fosrc.item.edit.dynamic-field.label.journal.issue'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.acceptedmanuscript.articlenum']"
                                [label]="'fosrc.item.edit.dynamic-field.label.article.number'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.date.accepted']"
                                [label]="'fosrc.item.edit.dynamic-field.label.date.acceptance'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.date.submitted']"
                                [label]="'fosrc.item.edit.dynamic-field.label.date.submission'" [subheading]="true">
    </ds-generic-item-page-field>
    </div>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['journal.title']"
                                [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['journal.identifier.issn']"
                                [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['journalvolume.identifier.name']"
                                [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.publisher']"
                                [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description.fosrcfull']"
    [label]="'fosrc.item.edit.dynamic-field.label.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [filterLang]="true" [item]="object"
      [fields]="['creativework.keywords']"
      [separator]="','"
      [label]="'fosrc.item.edit.dynamic-field.label.keywords'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <h5 *ngIf="hasRights()">{{'item.page.rights' | translate}}</h5>
    <ds-item-page-rights-field [item]="object"></ds-item-page-rights-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.pagination']"
                                [label]="'fosrc.item.edit.dynamic-field.label.record.management.pagination'" [subheading]="true">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['local.peerreview']"
      [separator]="','"
      [label]="'item.page.local.peerreview'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.rights.openaccesslevel']"
      [separator]="','"
      [label]="'item.page.dc.rights.openaccesslevel'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <!-- Start FOSRC Changes - 1594 -->
    <ds-metadata-field-wrapper *ngIf="hasDcRelationMetaData" [label]="'item.page.relationship' | translate">
      <div style="padding-left: 18px">
      <div *ngIf="hasDcRelationMetaData_isformatof">
      <h6>{{'item.page.1.relationship_identifiers' | translate}}: </h6>
      <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isformatof']; let last=last;" [href]="mdValue.value">
        {{ this.object.metadata['dc.relation.isformatof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
      </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_ispartof">
        <h6>{{'item.page.2.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.ispartof']; let last=last;" [href]="mdValue.value">
           {{ this.object.metadata['dc.relation.ispartof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isreferencedby">
        <h6>{{'item.page.3.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isreferencedby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isreferencedby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isrelatedto">
        <h6>{{'item.page.4.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isrelatedto']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isrelatedto']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isreplacedby">
        <h6>{{'item.page.5.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isreplacedby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isreplacedby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isrequiredby">
        <h6>{{'item.page.6.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isrequiredby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isrequiredby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_istranslationof">
        <h6>{{'item.page.7.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.istranslationof']; let last=last;" [href]="mdValue.value">
          {{ this.object.metadata['dc.relation.istranslationof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isversionof">
        <h6>{{'item.page.8.relationship_identifiers' | translate}}: </h6>
        <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isversionof']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isversionof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
    </div>
    </ds-metadata-field-wrapper>
    <!-- End of FOSRC Changes  -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <span aria-hidden="true" class="fas fa-info-circle"></span> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
