<div class="d-flex flex-row">
  <!--FOSRC change start-->
  <h1 id="wb-cont" class="item-page-title-field mr-auto">
    {{'official.title' | translate}} <!-- <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values> -->
    <ds-metadata-values [mdValues]="dsoOfficialTitle"></ds-metadata-values>
  </h1>
  <!--FOSRC change end (h2 is converted to h1)-->
  <div class="pl-2">
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <dl>
      <ds-item-page-uri-field [isDescriptionList]="true" [item]="object" [fields]="['dc.identifier.doi']" [separator]="','" [label]="'item.page.doi'"></ds-item-page-uri-field>
    </dl>
    <h2 *ngIf="hasIdentifiers()">{{'item.page.identifiers' | translate}}</h2>
    <div style="padding-left: 18px">
      <dl>
        <ds-item-page-govdoc-field [item]="object" [isDescriptionList]="true"></ds-item-page-govdoc-field>
        <ds-item-page-isbn-field [item]="object" [isDescriptionList]="true"></ds-item-page-isbn-field>
        <ds-item-page-issn-field [item]="object" [isDescriptionList]="true"></ds-item-page-issn-field>
        <ds-item-page-organization-field [item]="object" [isDescriptionList]="true"></ds-item-page-organization-field>
        <ds-item-page-other-field [item]="object" [isDescriptionList]="true"></ds-item-page-other-field>
      </dl>
    </div>
    <dl>
      
      <ds-item-page-iso-field *ngIf="hasLanguage()" [item]="object" [isDescriptionList]="true"></ds-item-page-iso-field>
      <ds-item-page-date-field [item]="object" [isDescriptionList]="true"></ds-item-page-date-field>
      <!-- AUTHOR(S) -->
      <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
                                      [parentItem]="object"
                                      [itemType]="'Person'"
                                      [metadataFields]="['dc.contributor.author', 'dc.creator']"
                                      [isDescriptionList]="true"
                                      [addClassToMiddleObjects]="true"
                                      [label]="'relationships.isAuthorOf' | translate">
      </ds-metadata-representation-list>
      <ds-generic-item-page-field [item]="object" [fields]="['dc.publisher']" [label]="'item.page.publisher'" [isDescriptionList]="true"></ds-generic-item-page-field>
      <ds-item-page-sponsorship-field [item]="object" [isDescriptionList]="true"></ds-item-page-sponsorship-field>
    </dl>

  </div>
  <div class="col-xs-12 col-md-6">
    <ds-item-page-alternative-title-field [item]="object"></ds-item-page-alternative-title-field>
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'fosrc.item.edit.dynamic-field.label.summary'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description.fosrcfull']"
    [label]="'fosrc.item.edit.dynamic-field.label.description'">
    </ds-generic-item-page-field>
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>

    <ds-generic-item-page-field [filterLang]="true" [item]="object"
      [fields]="['creativework.keywords']"
      [separator]="','"
      [label]="'fosrc.item.edit.dynamic-field.label.keywords'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <!-- RIGHTS -->
    <h2 *ngIf="hasRights()">{{'item.page.rights' | translate}}</h2>
    <ds-item-page-rights-field [item]="object"></ds-item-page-rights-field>
    <!-- PAGINATION -->
    <ds-generic-item-page-field [item]="object"
                                [fields]="['local.pagination']"
                                [label]="'fosrc.item.edit.dynamic-field.label.record.management.pagination'" [subheading]="false">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['local.peerreview']"
      [separator]="','"
      [label]="'item.page.local.peerreview'">
     
     
    </ds-generic-item-page-field>
    
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.rights.openaccesslevel']"
      [separator]="','"
      [label]="'item.page.dc.rights.openaccesslevel'">
    </ds-generic-item-page-field>
     <!-- Book -->
    <h2 *ngIf="hasBook()">{{ 'fosrc.item.edit.dynamic-field.values.2.publication_type' | translate}}</h2>
    <div style="padding-left: 18px">
      <dl>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.book.volume']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.series.volume'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.book.series']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.book.seriesnum']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.book.edition']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
        </ds-generic-item-page-field>
      </dl>
    </div>

    <!-- Book Chapter -->
    <h2 *ngIf="hasBookChapter()">{{ 'fosrc.item.edit.dynamic-field.values.3.publication_type' | translate}}</h2>
    <div style="padding-left: 18px">
      
      <dl>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.chapter.book']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.book.title'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.chapter.series']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.chapter.seriesnum']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.chapter.edition']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
        </ds-generic-item-page-field>
        
      </dl>
    </div>
    <h2 *ngIf="hasConference()">{{ 'fosrc.item.edit.dynamic-field.values.4.publication_type' | translate}}</h2>
    <div style="padding-left: 18px">
      
      <dl>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conference.name']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.conference.name'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conference.series']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conference.edition']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conference.startdate']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.conference.start.date'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conference.enddate']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.conference.end.date'" [subheading]="true">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['dc.location.fosrcconference']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.conference.location'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['local.conferencetype']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.sub.type'" [subheading]="true">
        </ds-generic-item-page-field>
      </dl>
    </div>
 <!-- Article -->
 <h2 *ngIf="hasArticle()">{{ 'fosrc.item.edit.dynamic-field.values.1.publication_type' | translate}}</h2>
 <div style="padding-left: 18px">
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['local.article.journaltitle']"
                               [label]="'fosrc.item.edit.dynamic-field.label.journal.title'" [subheading]="true">
   </ds-generic-item-page-field>

   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['local.article.journalvolume']"
                               [label]="'fosrc.item.edit.dynamic-field.label.journal.volume'" [subheading]="true">
   </ds-generic-item-page-field>
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['local.article.journalissue']"
                               [label]="'fosrc.item.edit.dynamic-field.label.journal.issue'" [subheading]="true">
   </ds-generic-item-page-field>
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['local.acceptedmanuscript.articlenum']"
                               [label]="'fosrc.item.edit.dynamic-field.label.article.number'" [subheading]="true">
   </ds-generic-item-page-field>
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['dc.date.accepted']"
                               [label]="'fosrc.item.edit.dynamic-field.label.accepted.date'" [subheading]="true">
   </ds-generic-item-page-field>
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['dc.date.submitted']"
                               [label]="'fosrc.item.edit.dynamic-field.label.submitted.date'" [subheading]="true">
   </ds-generic-item-page-field>
   <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                               [fields]="['local.articletype']"
                               [label]="'fosrc.item.edit.dynamic-field.label.sub-type'" [subheading]="true">
   </ds-generic-item-page-field>
 </div>
 
   <!-- Report -->
   <h2 *ngIf="hasReport()">{{ 'fosrc.item.edit.dynamic-field.values.5.publication_type' | translate}}</h2>
   <div style="padding-left: 18px">
     <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                 [fields]="['local.report.reportnum']"
                                 [label]="'fosrc.item.edit.dynamic-field.label.report.no'" [subheading]="true">
     </ds-generic-item-page-field>
     <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                 [fields]="['local.report.series']"
                                 [label]="'fosrc.item.edit.dynamic-field.label.book.series.title'" [subheading]="true">
     </ds-generic-item-page-field>
     <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                 [fields]="['local.report.seriesnum']"
                                 [label]="'fosrc.item.edit.dynamic-field.label.series.number'" [subheading]="true">
     </ds-generic-item-page-field>
     <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                 [fields]="['local.report.edition']"
                                 [label]="'fosrc.item.edit.dynamic-field.label.edition'" [subheading]="true">
     </ds-generic-item-page-field>
     <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                 [fields]="['local.reporttype']"
                                 [label]="'fosrc.item.edit.dynamic-field.label.sub.type'" [subheading]="true">
     </ds-generic-item-page-field>
   </div>
    <!-- PROJECT -->
    <h2 *ngIf="hasProject()">{{'item.page.heading.project' | translate}}</h2>
    <div style="padding-left: 18px">
      <dl>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['dc.title.fosrcprojectname']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.project.name'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object" [isDescriptionList]="true"
                                    [fields]="['dc.identifier.fosrcprojectid']"
                                    [label]="'fosrc.item.edit.dynamic-field.label.project.number'">
        </ds-generic-item-page-field>
      </dl>
    </div>
    <!-- Start FOSRC Changes - 1594 -->
    <ds-metadata-field-wrapper *ngIf="hasDcRelationMetaData" [label]="'item.page.relationship' | translate">
      <dl style="padding-left: 18px">
      <div *ngIf="hasDcRelationMetaData_isformatof">
      <dt>{{'item.page.1.relationship_identifiers' | translate}}: </dt>
      <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isformatof']; let last=last;" [href]="mdValue.value">
        {{ this.object.metadata['dc.relation.isformatof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
      </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_ispartof">
        <dt>{{'item.page.2.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.ispartof']; let last=last;" [href]="mdValue.value">
           {{ this.object.metadata['dc.relation.ispartof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
      <div *ngIf="hasDcRelationMetaData_isreferencedby">
        <dt>{{'item.page.3.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isreferencedby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isreferencedby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
      <div *ngIf="hasDcRelationMetaData_isrelatedto">
        <dt>{{'item.page.4.relationship_identifiers' | translate}}: </dt>
        <dd> <a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isrelatedto']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isrelatedto']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a>
      </div>
      <div *ngIf="hasDcRelationMetaData_isreplacedby">
        <dt>{{'item.page.5.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isreplacedby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isreplacedby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
      <div *ngIf="hasDcRelationMetaData_isrequiredby">
        <dt>{{'item.page.6.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isrequiredby']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isrequiredby']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
      <div *ngIf="hasDcRelationMetaData_istranslationof">
        <dt>{{'item.page.7.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.istranslationof']; let last=last;" [href]="mdValue.value">
          {{ this.object.metadata['dc.relation.istranslationof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
      <div *ngIf="hasDcRelationMetaData_isversionof">
        <dt>{{'item.page.8.relationship_identifiers' | translate}}: </dt>
        <dd><a style="padding-left: 10px" *ngFor="let mdValue of this.object.metadata['dc.relation.isversionof']; let last=last;" [href]="mdValue.value">
            {{ this.object.metadata['dc.relation.isversionof']['value'] || mdValue.value }}<span *ngIf="!last" [innerHTML]="','"></span>
        </a></dd>
      </div>
    </dl>
    </ds-metadata-field-wrapper>
    
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <!-- End of FOSRC Changes  -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <span aria-hidden="true" class="fas fa-info-circle"></span> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
