<ds-loading *ngIf="(dataSource.loading$ | async) && !loadingNode" class="ds-loading"></ds-loading>
<!-- OSPR change - switch to gcweb template -->

<div gcweb class="details-elements print-open mrgn-tp-md">
  <div class="btn-group mrgn-lft-sm">
    <button type="button" class="btn btn-primary wb-toggle" data-toggle='{"selector": "details", "parent": ".details-elements", "type": "on"}' (click)="expandAllNodes()">{{ 'communityList.expandAll' | translate }}</button>
    <button type="button" class="btn btn-default wb-toggle" data-toggle='{"selector": "details", "parent": ".details-elements", "type": "off"}' (click)="collapseAllNodes()">{{ 'communityList.collapseAll' | translate }}</button>
  </div>
  <div class="mrgn-tp-sm  mrgn-rght-sm mrgn-lft-sm">
    <ul class="list-unstyled">
      <ng-container *ngFor="let node of (dataSource['communityList$'] | async); let i = index; let first = first;">
        <ng-container *ngIf="(node.level === 0) && isValidData(node.payload)">
          <li>
             <!-- Nodes with child nodes/subcommunities/nested content. For top level we need to show as expandable even if we don't have subcommunities/nested content -->
            <ng-container *ngTemplateOutlet="expandable; context: { node: node, isFirst: first }"></ng-container>
            <!-- Nodes with "show more" content -->
            <ng-container *ngIf="node.isShowMoreNode">
              <ng-container *ngTemplateOutlet="showmore; context: { node: node }"></ng-container>
            </ng-container>
          </li>

        </ng-container>

        <li *ngIf="(node===loadingNode) && (dataSource.loading$ | async)" [style.padding-left]="((node.level+1) * 40) + 'px'">
          <ds-loading class="ds-loading"></ds-loading>
        </li>
      </ng-container>
    </ul>
  </div>
</div>


<ng-template #expandable let-node="node" let-isFirst="isFirst">
  <details [ngClass]="{'pb-0 mrgn-tp-md': isFirst, 'pb-0': !isFirst}" [attr.open]= "node.isExpanded? '': null" [attr.id]="'detail-parent-node-' + node.id" >
    <summary #toggle [attr.id]="'parent-node-' + node.id" class="mb-0" (click)="toggleExpanded(node)" (keydown.enter)="$event.preventDefault();toggle.click()" (keydown.space)="$event.preventDefault();toggle.click()">
      <h2 class="h4" *ngIf="node?.level === 0">
        {{(['dc.title','dc.title.fosrctranslation'] | metaTranslate : node.payload)[0]?.value }}
      </h2>
      <h3 class="h6" *ngIf="node?.level !== 0">
        {{(['dc.title','dc.title.fosrctranslation'] | metaTranslate : node.payload)[0]?.value }}
      </h3>
    </summary>
    <ul class="list-unstyled mrgn-tp-md" *ngIf="node.isExpanded">
      <p class="well-sm bg-darker mrgn-bttm-md" *ngIf="isValidData(node.payload)">
        <a [routerLink]="node.route" [queryParams]="{ 'spc.sf': 'score', 'spc.sd': 'DESC','scope': node.id,'spc.page':1 }" [attr.lang]="getLanguageAttribute(node.payload)" class="text-white">
          {{ (['dc.title','dc.title.fosrctranslation'] | metaTranslate : node.payload)[0]?.value }}
         </a>
      </p>
      <ng-container *ngFor="let subnode of (dataSource['communityList$'] | async); let j = index; let subnodefirst = first;">
        <ng-container *ngIf="(subnode?.level === 1)  && (subnode.parent.id === node.id) && isValidData(subnode.payload)">
          <li class="well well-sm  leaf-node mrgn-bttm-sm " >
            <ng-container *ngTemplateOutlet="nonexpandable; context: { node: subnode }"></ng-container>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </details>
</ng-template>

<ng-template #nonexpandable let-node="node">
  <a [routerLink]="node.route" [queryParams]="{ 'spc.sf': 'score', 'spc.sd': 'DESC','scope': node.id,'spc.page':1 }" [attr.lang]="getLanguageAttribute(node.payload)">
    {{ (['dc.title','dc.title.fosrctranslation'] | metaTranslate : node.payload)[0]?.value }}
  </a>
</ng-template>

<ng-template #showmore let-node="node">
  <div class="well well-sm bg-white mb-1 leaf-node">
    <a *ngIf="node!==loadingNode" [routerLink]="" (click)="getNextPage(node)" role="button">
      <span aria-hidden="true" class="fas fa-angle-down"></span> {{ 'communityList.showMore' | translate }}
    </a>
  </div>
</ng-template>

<!-- OSPR change to gcweb template end -->

<!-- <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl"> -->
  <!-- This is the tree node template for show more node -->
  <!-- <cdk-tree-node *cdkTreeNodeDef="let node; when: isShowMore" cdkTreeNodePadding
                 class="example-tree-node show-more-node">
    <div class="btn-group">
      <button type="button" class="btn btn-default" cdkTreeNodeToggle>
        <span class="fa fa-chevron-right invisible" aria-hidden="true"></span>
      </button>
      <div class="align-middle pt-2">
        <a *ngIf="node!==loadingNode" [routerLink]="" (click)="getNextPage(node)"
           class="btn btn-outline-primary btn-sm" role="button">
           <span aria-hidden="true" class="fas fa-angle-down"></span> {{ 'communityList.showMore' | translate }}
        </a>
        <ds-loading *ngIf="node===loadingNode && dataSource.loading$ | async" class="ds-loading"></ds-loading>
      </div>
    </div>
    <div class="text-muted" cdkTreeNodePadding>
      <div class="d-flex">
      </div>
    </div>
  </cdk-tree-node> -->
  <!-- This is the tree node template for expandable nodes (coms and subcoms with children) -->
  <!-- <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                 class="example-tree-node expandable-node">
    <div class="btn-group"> -->
      <!-- OSPR change start -->
      <!-- <button type="button" class="btn btn-default" cdkTreeNodeToggle
              [id]="'parent-node-' + node.id"
              [title]="'toggle ' + node.name"
              [attr.aria-label]="'toggle ' + node.name"
              (click)="toggleExpanded(node)"
              [ngClass]="(hasChild(null, node)| async) ? 'visible' : 'invisible'"> -->
      <!-- OSPR change end -->
        <!-- <span class="{{node.isExpanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'}}"
              aria-hidden="true"></span>
      </button> -->
      <!-- OSPR change start -->
      <!-- <span class="align-middle pt-2">
        <a [routerLink]="node.route" [lang]="('dc.title' | metaTranslate : node.payload)[0]?.language" class="lead">
          {{('dc.title' | metaTranslate : node.payload)[0]?.value }}
        </a>
      </span> -->
      <!-- OSPR change end h1 to span -->
    <!-- </div>
    <ds-truncatable [id]="node.id">
      <div class="text-muted" cdkTreeNodePadding>
        <div class="d-flex" *ngIf="node.payload.shortDescription">
          <button type="button" class="btn btn-default invisible">
            <span class="{{node.isExpanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'}}"
                  aria-hidden="true"></span>
          </button>
          <ds-truncatable-part [id]="node.id" [minLines]="3">
            <span [lang]="('dc.description.abstract' | metaTranslate : node.payload)[0]?.language">{{('dc.description.abstract' | metaTranslate : node.payload)[0]?.value }}</span>
          </ds-truncatable-part>
        </div>
      </div>
    </ds-truncatable>
    <div class="d-flex" *ngIf="node===loadingNode && dataSource.loading$ | async"
         cdkTreeNodePadding>
      <button type="button" class="btn btn-default invisible">
        <span class="{{node.isExpanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'}}"
              aria-hidden="true"></span>
      </button>
      <ds-loading class="ds-loading"></ds-loading>
    </div>
  </cdk-tree-node> -->
  <!-- This is the tree node template for leaf nodes (collections and (sub)coms without children) -->
  <!-- <cdk-tree-node *cdkTreeNodeDef="let node; when: !(hasChild && isShowMore)" cdkTreeNodePadding
                 class="example-tree-node childless-node">
    <div class="btn-group">
      <button type="button" class="btn btn-default" cdkTreeNodeToggle>
                <span class="fa fa-chevron-right invisible"
                      aria-hidden="true"></span>
      </button>
      <h6 class="align-middle pt-2">
        <a [routerLink]="node.route" [lang]="('dc.title' | metaTranslate : node.payload)[0]?.language" class="lead">
          {{('dc.title' | metaTranslate : node.payload)[0]?.value }}
        </a>
      </h6>
    </div>
    <ds-truncatable [id]="node.id">
      <div class="text-muted" cdkTreeNodePadding>
        <div class="d-flex" *ngIf="node.payload.shortDescription">
          <button type="button" class="btn btn-default invisible">
            <span class="{{node.isExpanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'}}"
                  aria-hidden="true"></span>
          </button>
          <ds-truncatable-part [id]="node.id" [minLines]="3">
            <span [lang]="('dc.description.abstract' | metaTranslate : node.payload)[0]?.language">{{('dc.description.abstract' | metaTranslate : node.payload)[0]?.value }}</span>
          </ds-truncatable-part>
        </div>
      </div>
    </ds-truncatable>
  </cdk-tree-node>
</cdk-tree> -->
