<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Canada.ca</title>
		<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the Government of Canada." />
		<meta name="dcterms.description" content="The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the Government of Canada." />
		<meta name="dcterms.creator" content="Government of Canada" />
		<meta name="dcterms.title" content="Canada.ca" />
		<meta name="dcterms.issued" title="W3CDTF" content="2013-12-13" />
		<meta name="dcterms.modified" title="W3CDTF" content="2021-05-06" />
		<meta name="dcterms.subject" content="GV Government and Politics" />
		<meta name="dcterms.language" title="ISO639-2" content="eng" />
		<meta name="robots" content="noindex, follow" />

		<meta property="dcterms:issued" content="2013-12-13">
		<meta property="dcterms:modified" content="2021-05-06">
		<meta property="dcterms:title" lang="en" content="Canada.ca" />
		<meta property="dcterms:creator" lang="en" content="Government of Canada">
		<meta property="dcterms:subject" lang="en" title="gccore" content="GV Government and Politics" />
		<meta property="dcterms:description" lang="en" content="The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the Government of Canada." />
		<meta property="dcterms:title" lang="fr" content="Canada.ca" />
		<meta property="dcterms:creator" lang="fr" content="Gouvernement du Canada">
		<meta property="dcterms:subject" lang="fr" title="gccore" content="GV Gouvernement et vie politique" />
		<meta property="dcterms:description" lang="fr" content="Le site Web du gouvernement du Canada fournit un point d'accès complet à tous les programmes, services, départements, ministères et organismes du gouvernement du Canada." />
		<!--<link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />-->
<!-- <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
<noscript><link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" /></noscript>
		<link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/messages.min.css" /> -->
	</head>

	<body class="splash" vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
		<!--<div id="bg" ><img src="assets/images/sp-bg-1.jpg" alt="" /></div>-->
		<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
			<div class="sp-hb">
				<div class="sp-bx col-xs-12">
					<!--<h1 property="name" class="wb-inv">Canada.ca</h1>-->
					<div class="row">
						<div class="col-xs-11 col-md-8" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
                            <img src="assets/images/Canada-logo.svg" class="mrgn-tp-lg" [attr.alt]="'menu.header.image.logo' | translate"/>
						</div>
					</div>
					<div class="row">
						<section class="col-xs-6 text-right">
                            <!--<h2 class="wb-inv">Government of Canada</h2>-->
                            <p><a href="#" class="btn btn-primary" (click)="onClickButton('en')">English</a></p>
                        </section>
                        <section class="col-xs-6" lang="fr">
                            <!--<h2 class="wb-inv">Gouvernement du Canada</h2>-->
                            <p><a href="#" class="btn btn-primary" (click)="onClickButton('fr')">Fran&ccedil;ais</a></p>
                        </section>
					</div>
				</div>
				<div class="sp-bx-bt col-xs-12">
					<div class="row">
						<div class="col-xs-7 col-md-8">
							<a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">Terms and conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">Avis</a>
						</div>
						<div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
							<img src="assets/images/wmms-spl.svg" width="127" [attr.alt]="'menu.header.image.logo' | translate"/>
						</div>
					</div>
				</div>
			</div>
		</main>
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
	</body>
</html>

