
<h2 class="h3">{{'browse.comcol.head' | translate}}</h2>
<ul class="list-inline">
  <li *ngFor="let option of allOptions" routerLinkActive="active">
  <a  [routerLink]="option.routerLink"
      [queryParams]="option.params"
      class="list-group-item well"
      >{{ option.label | translate }}</a>
    </li>
</ul>

<div class="d-block d-sm-none">
  <select name="browse-type"
          class="form-control"
          aria-label="Browse Community or Collection"
          (ngModelChange)="onSelectChange($event)" [ngModel]="currentOptionId$ | async">
    <option *ngFor="let option of allOptions"
            [ngValue]="option.id"
            [attr.selected]="(currentOptionId$ | async) === option.id ? 'selected' : null">{{ option.label | translate }}</option>
  </select>
</div>
