:host {
@extend %theme-wet-boew-print-display-none-important !optional;
@import "./wet.scss";
footer {
background-color: var(--ds-footer-bg);
text-align: left;
z-index: var(--ds-footer-z-index);
border-top: var(--ds-footer-border);
padding: var(--ds-footer-padding);

@media screen and (min-width: 992px) {
  .colcount-md-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
  .colcount-md-3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; }
  .colcount-md-4 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4; }
  }

@media screen and (max-width: 991px) {
  li {
    display: block;
    margin-bottom: .2em; }
    ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
       column-count: 2; }
}


@media screen and (min-width: 768px) {
  .colcount-sm-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
  .colcount-sm-3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; }
  .colcount-sm-4 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4; }
  }
@media screen and (max-width: 479px) {
  li {
display: block;
margin-bottom: .2em; }
  ul {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
}

p {
  margin: 0;
}

div > img {
  height: var(--ds-footer-logo-height);
}


.top-footer {
  background-color: var(--ds-top-footer-bg);
  padding: var(--ds-footer-padding);
  margin: calc(var(--ds-footer-padding) * -1);
}

.bottom-footer {
  ul {
    li {
      display: inline-flex;
  margin-bottom: .75em;

      a {
        padding: 0 calc(var(--bs-spacer) / 2);
        color: inherit
      }
  h3 {
  white-space: no-wrap;
  }

      // &:not(:last-child) {
      //   &:after {
      //     content: '';
      //     border-right: 1px var(--bs-secondary) solid;
      //              }
      //           }
            }
        }

    }

}
}
        
        
        