
    <!-- Grid container -->
    <!-- <div class=" container p-4"> -->
      <!--Grid row-->
      <!-- <div class="row"> -->

        <!--Grid column-->
        <!-- <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Lorem ipsum</a>
            </li>
            <li>
              <a routerLink="./" class="">Ut facilisis</a>
            </li>
            <li>
              <a routerLink="./" class="">Aenean sit</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <!-- <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Suspendisse potenti</a>
            </li>
          </ul>
        </div> -->
        <!--Grid column-->

        <!--Grid column-->
        <!-- <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div> -->
        <!--Grid column-->
      <!-- </div> -->
      <!--Grid row-->
    <!-- </div>
  </div> -->
  <!-- Grid container -->
  <div class="global-footer">
  <footer id="wb-info" class="text-lg-start">
  <section>
    <div  id="transactFooter" class="landscape"> 
    <nav class="container wb-navcurr" aria-labelledby="aboutOSPR">
    <h2 class="wb-inv" id="aboutOSPR">{{ 'about' | translate }}</h2>
    <ul class="list-unstyled colcount-md-3">
      <li>
        <a class="text-white"
        routerLink="/community-list">{{ 'footer.link.community-list' | translate}}</a>
      </li>
    <li><a class="text-white" href="mailto:stevenson.gossage@ssc-spc.gc.ca">{{ 'footer.link.contact-us' | translate}}</a></li>
    <li>
      <a class="text-white"
         routerLink="/browse/author">{{ 'footer.link.browse-by-author' | translate}}</a>
    </li>
    <li>
      <a class="text-white"
         routerLink="/browse/dateissued">{{ 'footer.link.browse-by-issue-date' | translate}}</a>
    </li>
    <li>
      <a class="text-white"
         routerLink="/browse/subject">{{ 'footer.link.browse-by-subject' | translate}}</a>
    </li>
    <li>
      <a class="text-white"
         routerLink="/browse/title">{{ 'footer.link.browse-by-title' | translate}}</a>
    </li>
    </ul>
    </nav>
    </div>
    <div class="brand">
      <div class="container">
      <div class="row">
        <div class="center col-md-12 col-lg-10 p-1 text-lg-center">
          <nav class="py-0 col-md-12 justify-content-center ftr-urlt-lnk" aria-labelledby="aboutGC">
          <h2 class="wb-inv">About Government of Canada</h2>
            <ul class="">
              <p align="center">{{'footer.copyright' | translate}} </p>
              <li>
                <a class="text-dark" href="#" (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
              </li>
              <li>
                <a class="text-dark"
                  routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
              </li>
              <li>
                <a class="text-dark"
                  routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Top of Page <span class="fa fa-chevron-up"></span></a>
        </div>
        <!-- Copyright -->
        <div class="col-xs-6 col-md-2 text-right">
          <img src="../../../../assets/images/wmms-blk.svg" alt="{{'footer.symbol' | translate}}">
        </div>
      </div>
      </div>
    </div>
  </section>
</footer>
</div>