
    // #wb-info .canada_ca {
    //   background: url(../../../../assets/images/wmms-blk.svg) no-repeat right bottom; }
    //   #wb-info .canada_ca a {
    //     color: #fff; }
    //     #wb-info .canada_ca a:hover {
    //       text-decoration: underline; }
    // .canada_ca {
    //  background: url(../../../../assets/images/wmms-blk.svg) no-repeat right bottom; }
   


    .breadcrumb-item {
      content: quote("•")
    }
    .row {
      margin-right: -15px;
      margin-left: -15px; }
      .row:before, .row:after {
        display: table;
        content: " "; }
      .row:after {
        clear: both; }

    .col-md2 {

      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
    }
    .col-md-9{
    width: 75%;
    }
      
    .col-xs-6 { 
        float: none; 
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 50%;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px; }  
  
    #wb-info .ftr-urlt-lnk li {
      display: inline-block;
      float: none;
      margin-right: 0.7em; }
      #wb-info .ftr-urlt-lnk li:first-child:before {
        content: "\2022"; }
    [dir=rtl] #wb-info .ftr-urlt-lnk li {
      float: right; }
      #wb-info .ftr-urlt-lnk ul {
        margin: 0;
        padding: 0; }
      #wb-info .ftr-urlt-lnk li:before {
        content: "\2022";
        margin-right: 0.7em; }
        

#wb-info {
    background: #e1e4e7;
    position: relative;
    z-index: 5; }
    #wb-info a {
      font-size: .875em;
      text-decoration: none; }
      #wb-info a.wb-navcurr {
        font-weight: 800; }
    #wb-info .brand {
      background: #f8f8f8;
      line-height: 30px; }
      #wb-info .brand object,
      #wb-info .brand img {
        height: 40px;
        margin-bottom: 10px;
        margin-top: 15px;
        width: auto; }
    #wb-info .ftr-urlt-lnk ul {
      margin: 0;
      padding: 0; }
    #wb-info .ftr-urlt-lnk li:before {
      content: "\2022";
      margin-right: 0.7em; }
    #wb-info .landscape {
      background: #26374a url(../../../../assets/images/landscape.png) no-repeat right bottom;
      background-position: bottom -15px right 7px;
      }
      #wb-info .landscape a {
        color: #fff; }
        #wb-info .landscape a:hover {
          text-decoration: underline; }
    #wb-info .tofpg {
      line-height: 30px; }
      #wb-info .tofpg a {
        color: #000; }
        #wb-info .tofpg a span {
          margin-left: 25px; }
        #wb-info .tofpg a:hover {
          text-decoration: none; }
    #wb-info nav {
      padding-bottom: 2em;
      padding-top: 2em;
      position: relative; }
      #wb-info nav li {
        margin-bottom: .75em; }

  
  [dir=rtl] footer .brand .text-right {
    text-align: left; }
  
  [dir=rtl] footer .tofpg {
    float: right; }
    [dir=rtl] footer .tofpg a span {
      margin-left: 0;
      margin-right: 10px; }
  
      
    // WET-BOEW
    // @title: Proximity CSS - Medium view and over
  
    .colcount-md-2 {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2; }
    .colcount-md-3 {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; }
    .colcount-md-4 {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4; }
    .pstn-lft-md {
      position: absolute;
      left: 0;
      right: auto; }
    .pstn-rght-md {
      position: absolute;
      right: 0;
      left: auto; }
    .pstn-tp-md {
      position: absolute;
      top: 0;
      bottom: auto; }
    .pstn-bttm-md {
      position: absolute;
      bottom: 0;
      top: auto; }
  
      .clearfix:before, .clearfix:after {
        display: table;
        content: " "; }
      
      .clearfix:after {
        clear: both; }
      
      .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto; }
      
      .pull-right {
        float: right !important; }
      
      .pull-left {
        float: left !important; }
      
      .hide {
        display: none !important; }
      
      .show {
        display: block !important; }
      
      .invisible {
        visibility: hidden; }
      
      .text-hide {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0; }
      
      .hidden {
        display: none !important; }
      
      .affix {
        position: fixed; }
      
      @-ms-viewport {
        width: device-width; }
      
      .visible-xs {
        display: none !important; }
      
      .visible-sm {
        display: none !important; }
      
      .visible-md {
        display: none !important; }
      
      .visible-lg {
        display: none !important; }
      
      .visible-xs-block,
      .visible-xs-inline,
      .visible-xs-inline-block,
      .visible-sm-block,
      .visible-sm-inline,
      .visible-sm-inline-block,
      .visible-md-block,
      .visible-md-inline,
      .visible-md-inline-block,
      .visible-lg-block,
      .visible-lg-inline,
      .visible-lg-inline-block {
        display: none !important; }
      
      @media (max-width: 767px) {
        .visible-xs {
          display: block !important; }
        table.visible-xs {
          display: table !important; }
        tr.visible-xs {
          display: table-row !important; }
        th.visible-xs,
        td.visible-xs {
          display: table-cell !important; } }
      
      @media (max-width: 767px) {
        .visible-xs-block {
          display: block !important; } }
      
      @media (max-width: 767px) {
        .visible-xs-inline {
          display: inline !important; } }
      
      @media (max-width: 767px) {
        .visible-xs-inline-block {
          display: inline-block !important; } }
      
      @media (min-width: 768px) and (max-width: 991px) {
        .visible-sm {
          display: block !important; }
        table.visible-sm {
          display: table !important; }
        tr.visible-sm {
          display: table-row !important; }
        th.visible-sm,
        td.visible-sm {
          display: table-cell !important; } }
      
      @media (min-width: 768px) and (max-width: 991px) {
        .visible-sm-block {
          display: block !important; } }
      
      @media (min-width: 768px) and (max-width: 991px) {
        .visible-sm-inline {
          display: inline !important; } }
      
      @media (min-width: 768px) and (max-width: 991px) {
        .visible-sm-inline-block {
          display: inline-block !important; } }
      
      @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md {
          display: block !important; }
        table.visible-md {
          display: table !important; }
        tr.visible-md {
          display: table-row !important; }
        th.visible-md,
        td.visible-md {
          display: table-cell !important; } }
      
      @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-block {
          display: block !important; } }
      
      @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-inline {
          display: inline !important; } }
      
      @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-inline-block {
          display: inline-block !important; } }
      
      @media (min-width: 1200px) {
        .visible-lg {
          display: block !important; }
        table.visible-lg {
          display: table !important; }
        tr.visible-lg {
          display: table-row !important; }
        th.visible-lg,
        td.visible-lg {
          display: table-cell !important; } }
      
      @media (min-width: 1200px) {
        .visible-lg-block {
          display: block !important; } }
      
      @media (min-width: 1200px) {
        .visible-lg-inline {
          display: inline !important; } }
      
      @media (min-width: 1200px) {
        .visible-lg-inline-block {
          display: inline-block !important; } }
      
      @media (max-width: 767px) {
        .hidden-xs {
          display: none !important; } }
      
      @media (min-width: 768px) and (max-width: 991px) {
        .hidden-sm {
          display: none !important; } }
      
      @media (min-width: 992px) and (max-width: 1199px) {
        .hidden-md {
          display: none !important; } }
      
      @media (min-width: 1200px) {
        .hidden-lg {
          display: none !important; } }
      
      .visible-print {
        display: none !important; }
      
      @media print {
        .visible-print {
          display: block !important; }
        table.visible-print {
          display: table !important; }
        tr.visible-print {
          display: table-row !important; }
        th.visible-print,
        td.visible-print {
          display: table-cell !important; } }
      
      .visible-print-block {
        display: none !important; }
        @media print {
          .visible-print-block {
            display: block !important; } }
      
      .visible-print-inline {
        display: none !important; }
        @media print {
          .visible-print-inline {
            display: inline !important; } }
      
      .visible-print-inline-block {
        display: none !important; }
        @media print {
          .visible-print-inline-block {
            display: inline-block !important; } }
      
      @media print {
        .hidden-print {
          display: none !important; } }
  
  
          .wb-invisible, .wb-inv, .wb-show-onfocus, .wb-sl, #wb-lng h2, #wb-glb-mn h2, #wb-srch h2, #wb-srch label, #wb-sm h2, #wb-bc h2, #wb-sec h2, #wb-info h2, #mb-pnl h3, .wb-calevt-cal .cal-days td ul, .wb-fnote dt, #mb-pnl .srch-pnl label {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            margin: 0;
            overflow: hidden;
            position: absolute;
            width: 1px; }
  
            .text-right {
              text-align: right; }
  
  