<div customFosrc class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between border-bottom mb-3">
        <h1 id="header" class="pb-2">{{ labelPrefix + 'head' | translate }}</h1>
      </div>

      <h2 id="search" class="border-bottom pb-2">{{ labelPrefix + 'search.head' | translate }}</h2>
      <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" class="d-flex justify-content-between">
        <div>
          <select name="scope" id="scope" formControlName="scope" class="form-control" aria-label="Search scope">
            <option value="title">{{ labelPrefix + 'table.title' | translate }}</option>
            <option value="email">{{ labelPrefix + 'table.email' | translate }}</option>
          </select>
        </div>
        <div class="flex-grow-1 mr-3 ml-3">
          <div class="form-group input-group">
            <input type="text" name="query" id="query" formControlName="query"
                   class="form-control"
                   [placeholder]="(labelPrefix + 'search.placeholder' | translate)">
            <span class="input-group-append">
              <button type="submit" class="search-button btn btn-primary">
                <span aria-hidden="true" class="fas fa-search"></span> {{ labelPrefix + 'search.button' | translate }}
              </button>
            </span>
          </div>
        </div>
        <div>
          <button type="button" (click)="clearFormAndResetResult()"
                  class="search-button btn btn-secondary">{{ labelPrefix + 'button.see-all' | translate }}</button>
        </div>
      </form>

      <ds-loading *ngIf="loading$ | async"></ds-loading>

      <ds-pagination
        *ngIf="(pageInfoState$ | async)?.totalElements > 0 && !(loading$ | async)"
        [paginationOptions]="config"
        [pageInfoState]="pageInfoState$"
        [collectionSize]="(pageInfoState$ | async)?.totalElements"
        [hideGear]="true"
        [hidePagerWhenSinglePage]="true">

        <div class="table-responsive">
          <table id="publicationrequests" class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">{{ labelPrefix + 'table.id' | translate }}</th>
                <th scope="col">{{ labelPrefix + 'table.title' | translate }}</th>
                <th scope="col">{{ labelPrefix + 'table.email' | translate }}</th>
                <th scope="col">{{ labelPrefix + 'table.language' | translate }}</th>
                <th scope="col">{{ labelPrefix + 'table.status' | translate }}</th>
                <th scope="col">{{ labelPrefix + 'table.actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of (requests$ | async)">
                <td>{{ request.id }}</td>
                <td>{{ getTitle(request) }}</td>
                <td>{{ request.userEmailAddress }}</td>
                <td>{{ request.language }}</td>
                <td>{{ request.status || ('admin.request.publication.status.pending' | translate) }}</td>
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" [disabled]="true"
                          title="{{ labelPrefix + 'actions.delete' | translate }}">
                    <span aria-hidden="true" class="fas fa-trash-alt fa-fw"></span>
                    <span class="wb-inv">{{  'admin.search.item.delete' | translate }}</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ds-pagination>

      <div *ngIf="(pageInfoState$ | async)?.totalElements == 0 && !(loading$ | async)"
           class="alert alert-info w-100 mb-2" role="alert">
        {{ labelPrefix + 'no-items' | translate }}
      </div>
    </div>
  </div>
</div>
