<div class="parent mb-3">
  <div class="upload">
    <ds-uploader *ngIf="uploadFilesOptions.url !== ''"
                 [uploadFilesOptions]="uploadFilesOptions"
                 (onCompleteItem)="onCompleteItem($event)"
                 (onUploadError)="onUploadError($event)"
                 (onFileSelected)="afterFileLoaded($event)"></ds-uploader>

  </div>
  <div class="add">
    <button class="btn btn-lg btn-primary mt-1 ml-2" (click)="openDialog()" attr.aria-label="'mydspace.new-submission' | translate" title="{{'mydspace.new-submission' | translate}}">
      <span aria-hidden="true" class="fa fa-plus" aria-hidden="true"></span>
      <span class="wb-inv">{{'mydspace.new-submission' | translate}}</span>
    </button>
  </div>
  <div class="add">
    <a class="btn btn-lg btn-outline-primary mt-1 ml-2" [routerLink]="['/import-external']" role="button" attr.aria-label="{{'mydspace.new-submission-external' | translate}}" title="{{'mydspace.new-submission-external' | translate}}">
      <span aria-hidden="true" class="fa fa-file-import" aria-hidden="true"></span>
      <span class="wb-inv">{{'mydspace.new-submission-external' | translate}}</span>
    </a>
  </div>

</div>
