  <!-- OSPR Changes remove login dropdown -->
  <div *ngIf="!(isAuthenticated | async)" class="nav-item">
    <a routerLink="/login" routerLinkActive="active" class="loginLink px-1">
      {{ 'nav.login' | translate }}<span class="sr-only">(current)</span>
    </a>
  </div>
  <div *ngIf="(isAuthenticated | async)" class="nav-item">
    <a id="logoutLink" role="button" [attr.aria-label]="'nav.logout' | translate" [title]="'nav.logout' | translate" routerLink="/logout" routerLinkActive="active" class="px-1">
      <span aria-hidden="true" class="fas fa-user-circle fa-lg fa-fw"></span>
      <span class="sr-only">(current)</span>
    </a>
  </div>
  <!-- OSPR Changes - end -->


