<div class="container" gcWeb>
    <div class="row">        
        <div class="col-md-12">
            <ng-container *ngIf="!formSubmitted; else confirmationOfRequest">
                <h1 property="name" id="wb-cont">{{MESSAGE_PREFIX + '.header'|translate}}</h1>
            
                <p>{{MESSAGE_PREFIX + '.info' | translate}}</p>
                <!-- action="#" method="post" name="cse-search-box" role="search" -->
                <form  role="form" method="get" action="#" [formGroup]="form" (ngSubmit)="register()" gcWeb>
    
                    <div class="form-group">
                        <p>{{ MESSAGE_PREFIX + '.email.hint'  | translate }}</p> 
                        <label for="email" class="required">
                            {{MESSAGE_PREFIX + '.email' | translate}} <strong class="required">{{'sign.in.required' | translate}}</strong>
                            <strong role="alert" *ngIf="emailIsEmpty" class="required">
                                {{ MESSAGE_PREFIX + '.email.error.required' | translate }}
                            </strong>
                            <strong role="alert" *ngIf="emailIsInvalid" class="required">
                                {{ MESSAGE_PREFIX + '.email.error.pattern' | translate }}
                            </strong>
                        </label>
                        <input class="form-control" autocomplete="off" autofocus
                            type="email" id="email" formControlName="email"/>
                    </div>
    
                    <!-- Start of OSPR change -->
                    <!-- Note: the line [disabled]="form.invalid" was changed to enable the Register button -->
                    <button class="btn btn-primary"
                            type="submit"
                            [disabled]="false">{{MESSAGE_PREFIX + '.submit'| translate}}</button>
                    <!-- End of OSPR change -->
                </form>
            </ng-container>
           
            <ng-template #confirmationOfRequest>
                <h1 property="name" class="mb-4" *ngIf="submissionTitle">
                    {{ submissionTitle | translate }}
                </h1>
                <p *ngIf="submissionMessage">
                    {{ submissionMessage | translate: {email: email} }}
                </p>
            </ng-template>
    
        </div>
    </div>
</div>
