<div class="container w-100 h-100">
  <div class="wb-frmvld">
    <div class="row">
      <div class="col-sm-12 pull-left mrgn-bttm-lg">
        <ng-container *ngIf="translate.currentLang === 'en'">

          <h1 property="name" id="wb-cont">Communiquer avec un ministère ou un organisme </h1>
          <p class="text-justify mrgn-bttm-lg">
            Pour toute question ou commentaire sur le contenu , veuillez contacter le ministère ou l'organisme
            ci-dessous concerné. Pour des questions d'ordre général ou pour en savoir plus, veuillez contacter l'équipe
            du DFSOC.
          </p>

          <dl class="list-unstyled lst-spcd">
            <dt>
              Agriculture et Agroalimentaire Canada
            </dt>
            <dd>
              <a href="mailto:aafc.library-bibliotheque.aac@agr.gc.ca">aafc.library-bibliotheque.aac@agr.gc.ca</a>
            </dd>
            <dt>Agence canadienne d'inspection des aliments</dt>
            <dd>
              <a href="mailto:cfia.sciencecollaboration-collaborationscientifiques.acia@inspection.gc.ca ">cfia.sciencecollaboration-collaborationscientifiques.acia@inspection.gc.ca
              </a>
            </dd>
            <dt>Agence spatiale canadienne</dt>
            <dd>
              <a href="mailto:biblio-library@asc-csa.gc.ca">biblio-library@asc-csa.gc.ca</a>
            </dd>
            <dt>Environnement et Changement climatique Canada</dt>
            <dd>
              <a href="mailto:bibliotheque.library@ec.gc.ca">bibliotheque.library@ec.gc.ca </a>
            </dd>
            <dt>Pêches et Océans Canada</dt>
            <dd>
              <a href="mailto:DFO.Library-Bibliotheque.MPO@dfo-mpo.gc.ca">DFO.Library-Bibliotheque.MPO@dfo-mpo.gc.ca
              </a>
            </dd>
            <dt>Santé Canada</dt>
            <dd>
              <a
                href="mailto:spimsadministrator.aministrateursgpsi@hc-sc.gc.ca">spimsadministrator.aministrateursgpsi@hc-sc.gc.ca</a>
            </dd>

            <dt>Agence de la santé publique du Canada</dt>
            <dd>
              <a href="mailto:library-bibliotheque@phac-aspc.gc.ca">library-bibliotheque@phac-aspc.gc.ca</a>
            </dd>

            <dt>Transports Canada</dt>
            <dd>
              <a
                href="mailto:TC.InnovationCentre-Centredinnovation.TC@tc.gc.ca">TC.InnovationCentre-Centredinnovation.TC@tc.gc.ca</a>
            </dd>

          </dl>
          <h2>Renseignements généraux</h2>
          <p>
            Pour plus d'informations sur DFSOC, ses politiques et ses normes, veuillez contacter <a
              href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">FOSRC-DFSOC@nrc-cnrc.gc.ca</a></p>

        </ng-container>
        <ng-container *ngIf="translate.currentLang === 'fr'">

          <h1 property="name" id="wb-cont">Communiquer avec un ministère ou un organisme </h1>
          <p class="text-justify mrgn-bttm-lg">
            Pour toute question ou commentaire sur le contenu , veuillez contacter le ministère ou l'organisme
            ci-dessous concerné. Pour des questions d'ordre général ou pour en savoir plus, veuillez contacter l'équipe
            du DFSOC.
          </p>

          <dl class="list-unstyled lst-spcd">
            <dt>
              Agriculture et Agroalimentaire Canada
            </dt>
            <dd>
              <a href="mailto:aafc.library-bibliotheque.aac@agr.gc.ca">aafc.library-bibliotheque.aac@agr.gc.ca</a>
            </dd>
            <dt>Agence canadienne d'inspection des aliments</dt>
            <dd>
              <a href="mailto:cfia.sciencecollaboration-collaborationscientifiques.acia@inspection.gc.ca ">cfia.sciencecollaboration-collaborationscientifiques.acia@inspection.gc.ca
              </a>
            </dd>
            <dt>Agence spatiale canadienne</dt>
            <dd>
              <a href="mailto:biblio-library@asc-csa.gc.ca">biblio-library@asc-csa.gc.ca</a>
            </dd>
            <dt>Environnement et Changement climatique Canada</dt>
            <dd>
              <a href="mailto:bibliotheque.library@ec.gc.ca">bibliotheque.library@ec.gc.ca </a>
            </dd>
            <dt>Pêches et Océans Canada</dt>
            <dd>
              <a href="mailto:DFO.Library-Bibliotheque.MPO@dfo-mpo.gc.ca">DFO.Library-Bibliotheque.MPO@dfo-mpo.gc.ca
              </a>
            </dd>
            <dt>Santé Canada</dt>
            <dd>
              <a
                href="mailto:spimsadministrator.aministrateursgpsi@hc-sc.gc.ca">spimsadministrator.aministrateursgpsi@hc-sc.gc.ca</a>
            </dd>

            <dt>Agence de la santé publique du Canada</dt>
            <dd>
              <a href="mailto:library-bibliotheque@phac-aspc.gc.ca">library-bibliotheque@phac-aspc.gc.ca</a>
            </dd>

            <dt>Transports Canada</dt>
            <dd>
              <a
                href="mailto:TC.InnovationCentre-Centredinnovation.TC@tc.gc.ca">TC.InnovationCentre-Centredinnovation.TC@tc.gc.ca</a>
            </dd>

          </dl>
          <h2>Renseignements généraux</h2>
          <p>
            Pour plus d'informations sur DFSOC, ses politiques et ses normes, veuillez contacter <a
              href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">FOSRC-DFSOC@nrc-cnrc.gc.ca</a></p>

        </ng-container>
      </div>

    </div>
  </div>

  <div class="pagedetails">

    <dl id="wb-dtmd">
      <ng-container *ngIf="translate.currentLang === 'en'">
        <dt>Date modified:&#32;</dt>
      </ng-container>
      <ng-container *ngIf="translate.currentLang === 'fr'">
        <dt>Date de modification&#160;:</dt>
      </ng-container>
        <dd><time property="dateModified">2023-04-24</time></dd>
    </dl>
  </div>

</div>