<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class=".page-header">Federal Open Science Repository of Canada</h1>
        <p class="lead">Publication, search of articles by the communities in the Governement of Canada</p>
      </div>
    </div>
    <ul>
      <li>Articles may be accessed using the website’s interface and the search box,</li>
      <li> Upload your document and any attachments to the Federal Open Science Repository of Canada.</li>
        </ul>
  </div>
</div>


