:host {
    div.simple-view-link {
        text-align: center;
        a {
            min-width: 25%;
        }
    }
}

.list-group-striped .list-group-item:nth-of-type(odd) {
    background-color: #eaebed;
}