<div gcweb class="container" *ngVar="(itemRD$ | async) as itemRD">
  <div class="item-page" *ngIf="itemRD?.hasSucceeded" @fadeInOut>
    <div *ngIf="itemRD?.payload as item">
      <ds-item-alerts [item]="item"></ds-item-alerts>
      <ds-item-versions-notice [item]="item"></ds-item-versions-notice>
      <ds-view-tracker [object]="item"></ds-view-tracker>
      <!-- <div class="d-flex flex-row"> -->
        <div class="row">
          <div class="col-md-12 pull-left mrgn-bttm-lg">

        <ds-item-page-title-field class="mr-auto" [item]="item" [useGcWeb]="true"></ds-item-page-title-field>
        <div class="pl-2">
          <ds-dso-page-edit-button [pageRoute]="itemPageRoute$ | async" [dso]="item" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
        </div>
      <!-- </div> -->
      <h2 class="wb-inv">{{"item.page.link.simple" | translate}}</h2>
      <p class="h4" *ngIf="!fromWfi"><a [routerLink]="[(itemPageRoute$ | async)]" class="btn btn-default"><span class="fas fa-info-circle"></span> {{"item.page.link.simple" | translate}} </a>

      <h2 class="h3">{{'full-item.details.title' | translate}} </h2>
      <!-- OSPR changes change table to dl-->
      <dl>
        <ng-container *ngFor="let metadataGroup of (transformedMetadata$ | async) | keyvalue;">
          <ng-container *ngFor="let languageGroup of metadataGroup.value | keyvalue;">
            <dt lang="{{languageGroup.key}}">
              {{metadataGroup.key}}{{languageGroup.key != '' ? ( ' - ' + languageGroup.key ) : ''}} 
            </dt>
            <ng-template #nonLanugagedMetadata>

            </ng-template>
            <ng-container *ngFor="let mdValue of languageGroup.value; let last=last;">
              <ng-container *ngVar="(mdValue.value | OSPRTruncate : false : 'GC Core Thesaurus::' : 'VDP::' |  translate) as val">
                <ng-container *ngIf="isHyperLink(languageGroup.key, val); else nonHyperLink">
                  <dd [ngClass]="{'mrgn-bttm-0': !last}" lang="{{languageGroup.key}}">
                    <a [attr.href]="val">{{val}}</a>
                  </dd>
                </ng-container>
                <ng-template #nonHyperLink>
                  <dd [ngClass]="{'mrgn-bttm-0': !last}" lang="{{languageGroup.key}}" [innerHTML]="val"></dd>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </dl>
      
      <!-- OSPR changes end  -->
      <ds-item-page-full-file-section [item]="item"></ds-item-page-full-file-section>
      <ds-item-page-collections [item]="item"></ds-item-page-collections>
      <ds-item-versions class="mt-2" [item]="item"></ds-item-versions>
      <div class="button-row bottom" *ngIf="fromWfi">
        <div class="text-right">
          <button class="btn btn-outline-secondary mr-1" (click)="back()">
            <span aria-hidden="true" class="fas fa-arrow-left"></span> {{'item.page.return' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <ds-error *ngIf="itemRD?.hasFailed" message="{{'error.item' | translate}}"></ds-error>
  <ds-loading *ngIf="itemRD?.isLoading" message="{{'loading.item' | translate}}"></ds-loading>
  </div>
  </div>
  <ds-page-details></ds-page-details>
</div>

