<div class="container" gcweb>
  <div class="row" *ngVar="(collectionRD$ | async) as collectionRD">
    <div *ngIf="collectionRD?.hasSucceeded" @fadeInOut class="col-md-12">
        <ng-container *ngIf="collectionRD?.payload as collection">
          <ds-view-tracker [object]="collection"></ds-view-tracker>          

          <!-- Collection Name -->
          <ds-comcol-page-header [name]="(['dc.title', 'dc.title.fosrctranslation'] | metaTranslate : collection)[0]?.value" [lang]="(['dc.title', 'dc.title.fosrctranslation'] | metaTranslate : collection)[0]?.language">
          </ds-comcol-page-header>

          <!-- Handle -->
          <ds-comcol-page-handle  [useHeading]="false"
                  [content]="collection.handle"
                  [title]="'collection.page.handle'" >
          </ds-comcol-page-handle>

          <ds-comcol-page-content [content]="(['dc.description', 'dc.description.fosrctranslation'] | metaTranslate : collection)[0]?.value" [lang]="(['dc.description.abstract', 'dc.description.abstract-fosrctranslation'] | metaTranslate : collection)[0]?.language" [hasInnerHtml]="true">
          </ds-comcol-page-content>

          <div class="pl-2">
            <ds-dso-page-edit-button *ngIf="isCollectionAdmin$ | async"  [pageRoute]="collectionPageRoute$ | async" [dso]="collection" [tooltipMsg]="'collection.page.edit'"></ds-dso-page-edit-button>
          </div>
          
          <!-- Browse-By Links -->
          <ds-comcol-page-browse-by
                  [id]="collection.id"
                  [contentType]="collection.type">
          </ds-comcol-page-browse-by>

        <ng-container *ngVar="(itemRD$ | async) as itemRD">
            <div class="container" *ngIf="(isXsOrSm$ | async)">
              <div class="row">
                <div class="col-12">
                  <ng-template *ngTemplateOutlet="searchForm"></ng-template>
                  <ds-search-settings *ngIf="searchSubmit" [searchOptions]="searchOptions$ | async" [sortOptions]="sortOptions$ | async"></ds-search-settings>
                </div>
              </div>
            </div>
            <div *ngIf="!searchSubmit else searchResultsPage">
              <div class="col-12" *ngIf="!(isXsOrSm$ | async)">
                <ng-template *ngTemplateOutlet="searchForm"></ng-template>
              </div>
              <div class="mt-4" *ngIf="itemRD?.hasSucceeded" @fadeIn>
                  <h3 class="sr-only">{{'collection.page.browse.recent.head' | translate}}</h3>
                  <ds-viewable-collection
                          [config]="paginationConfig"
                          [sortConfig]="sortConfig"
                          [objects]="itemRD"
                          [hideGear]="true">
                  </ds-viewable-collection>
              </div>
              <ds-error *ngIf="itemRD?.hasFailed"
                        message="{{'error.recent-submissions' | translate}}"></ds-error>
              <ds-loading *ngIf="!itemRD || itemRD.isLoading"
                        message="{{'loading.recent-submissions' | translate}}"></ds-loading>
              <div *ngIf="!itemRD?.isLoading && itemRD?.payload?.page.length === 0" class="alert alert-info w-100" role="alert">
                        {{'collection.page.browse.recent.empty' | translate}}
              </div>
            </div>
        </ng-container>
        <footer *ngIf="collection.copyrightText" class="border-top my-5 pt-4">
      <!-- Copyright -->
      <ds-comcol-page-content [content]="('dc.rights' | metaTranslate : collection)[0]?.value" [lang]="('dc.rights' | metaTranslate : collection)[0]?.language" [hasInnerHtml]="true">
      </ds-comcol-page-content>
    </footer>
        </ng-container>
    </div>
    <ds-error *ngIf="collectionRD?.hasFailed"
        message="{{'error.collection' | translate}}"></ds-error>
    <ds-loading *ngIf="collectionRD?.isLoading"
        message="{{'loading.collection' | translate}}"></ds-loading>
  </div>
  <ds-page-details></ds-page-details>  
</div>

<ng-template #searchResultsPage>
  <ds-page-with-sidebar [id]="'search-page'" [sidebarContent]="sidebarContent">
    <div class="row">
      <div class="col-12" *ngIf="!(isXsOrSm$ | async)">
          <ng-template *ngTemplateOutlet="searchForm"></ng-template>
          <ds-search-settings [searchOptions]="searchOptions$ | async" [sortOptions]="sortOptions$ | async"></ds-search-settings>
      </div>
          <!--FOSRC start changes : ticket 327-->
          <!-- <div class="d-block d-md-none search-controls clearfix">
              <ds-view-mode-switch [inPlaceSearch]="inPlaceSearch"></ds-view-mode-switch>
              <button (click)="openSidebar()" aria-controls="#search-body"
                      class="btn btn-outline-primary float-right open-sidebar"><i
                      class="fas fa-sliders"></i> {{"search.sidebar.open"
                      | translate}}
              </button>
          </div> -->
          <!--FOSRC end changes-->
        <ds-search-results [searchResults]="resultsRD$ | async"
                            [searchConfig]="searchOptions$ | async"
                            [configuration]="configuration$ | async"
                            [disableHeader]="!searchEnabled"
                            [useGcWeb]="true"
                            [context]="context"></ds-search-results>
    </div>
  </ds-page-with-sidebar>
</ng-template>

<ng-template #sidebarContent>
  <ds-search-sidebar id="search-sidebar" *ngIf="!(isXsOrSm$ | async)"
                     [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
                     [searchOptions]="(searchOptions$ | async)"
                     [sortOptions]="(sortOptions$ | async)"
                     [inPlaceSearch]="inPlaceSearch"></ds-search-sidebar>
  <ds-search-sidebar id="search-sidebar-sm" *ngIf="(isXsOrSm$ | async)"
                     [resultCount]="(resultsRD$ | async)?.payload.totalElements"
                     [searchOptions]="(searchOptions$ | async)"
                     [sortOptions]="(sortOptions$ | async)"
                     (toggleSidebar)="closeSidebar()">
  </ds-search-sidebar>
</ng-template>

<ng-template #searchForm>
  <ds-search-form *ngIf="searchEnabled" id="search-form"
                  [query]="(searchOptions$ | async)?.query"
                  [(scope)]="currentScope"
                  [currentUrl]="searchLink"
                  [scopes]="(scopeListRD$ | async)"
                  [inPlaceSearch]="inPlaceSearch"
                  [onComColPage]="true"
                  [searchPlaceholder]="'collection.page.search' | translate"
                  (submitSearch)="onSeachSubmit($event)">
  </ds-search-form>
  <div class="row mb-3 mb-md-1">
      <div class="labels col-sm-9 offset-sm-3">
          <ds-search-labels *ngIf="searchEnabled" [inPlaceSearch]="inPlaceSearch"></ds-search-labels>
      </div>
  </div>
</ng-template>
