<!-- <div class="container"> -->
<!-- <ng-container *ngVar="(breadcrumbs$ | async) as breadcrumbs">
    <nav *ngIf="(showBreadcrumbs$ | async)" aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="container breadcrumb">
            <ng-container
                    *ngTemplateOutlet="breadcrumbs?.length > 0 ? breadcrumb : activeBreadcrumb; context: {text: 'home.breadcrumbs', url: '/'}"></ng-container>
            <ng-container *ngFor="let bc of breadcrumbs; let last = last;">
                <ng-container *ngTemplateOutlet="!last ? breadcrumb : activeBreadcrumb; context: bc"></ng-container>
            </ng-container>
        </ol>
    </nav>

    <ng-template #breadcrumb let-text="text" let-url="url">
        <li class="breadcrumb-item"><a [routerLink]="url">{{text | translate}}</a></li>
    </ng-template>

    <ng-template #activeBreadcrumb let-text="text">
        <li class="breadcrumb-item active" aria-current="page">{{text | translate}}</li>
    </ng-template>
</ng-container> -->
<nav id="wb-bc" property="breadcrumb">
    <h2>{{'nav.breadcrumbs.here' | translate}} </h2>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
            <ng-container *ngVar="(breadcrumbs$ | async) as breadcrumbs">
                      <ng-container
                              *ngTemplateOutlet="breadcrumbs?.length > 0 ? breadcrumb : activeBreadcrumb; context: {text: 'home.breadcrumbs', url: '/home', isHome: true }"></ng-container>
                      <ng-container *ngFor="let bc of breadcrumbs; let last = last;">
                          <ng-container *ngTemplateOutlet="!last ? breadcrumb : activeBreadcrumb; context: bc"></ng-container>
                      </ng-container>
          
              <ng-template #breadcrumb let-text="text" let-url="url" let-lang="lang">
                  <li property="itemListElement" class="breadcrumb-item"><a property="item" [attr.lang]="lang" [routerLink]="url" >{{text | translate}}</a></li>
              </ng-template>
          
              <ng-template #activeBreadcrumb let-text="text" let-url="url" let-lang="lang" let-isHome="isHome">
                <!-- FIXME: Didn't remove the getpath call to avoid code breaking, but will need to address later. Routerlink field is best practice -->
                  <li property="itemListElement" class="breadcrumb-item active" aria-current="page"><a property="item" [routerLink]="isHome ? url: null" [attr.lang]="lang" [attr.href]="isHome ? null : getPath()">{{text | translate}}</a></li>
              </ng-template>
          </ng-container>
        </ol>
    </div>
  </nav>

<!-- </div> -->
