<!-- <div ngbDropdown class="navbar-nav" *ngIf="moreThanOneLanguage" display="dynamic" placement="bottom-right">
  <a href="#" role="button"
     [attr.aria-label]="'nav.language' |translate"
     [title]="'nav.language' | translate" class="px-1"
     (click)="$event.preventDefault()" data-toggle="dropdown" ngbDropdownToggle
     tabindex="0">
     <i></i> {{ 'Lang.title' | translate }}
  </a>
  <ul ngbDropdownMenu class="dropdown-menu" [attr.aria-label]="'nav.language' |translate">
    <li class="dropdown-item" tabindex="0" #langSelect *ngFor="let lang of translate.getLangs()"
            (keyup.enter)="useLang(lang)"
            (click)="useLang(lang)"
            [class.active]="lang === translate.currentLang">
                {{ langLabel(lang) }}
    </li>
  </ul>
</div> -->


<div *ngIf="moreThanOneLanguage" class="navbar-nav">
  <h2 hidden>{{ 'nav.language.heading' | translate }}</h2>
  <a href="#" role="button" [attr.lang]="'nav.language.attribute' | translate"
    [attr.aria-label]="'nav.language' | translate" 
    [title]="'nav.language' | translate"
    (click)="useLang(getAlternateLanguageCode(this.translate.currentLang), $event)" tabindex="0">
     {{ langLabel(getAlternateLanguageCode(this.translate.currentLang)) }}
  </a>
</div>