<div customFosrc class="container">
    <div class="row">
        <ng-container *ngVar="(dsoRD$ | async)?.payload as dso">
            <div class="col-12 pb-4">
              <!-- OSPR Changes- modifying h2 to h1-->  
              <h1 id="header" class="border-bottom pb-2">{{ 'collection.delete.head' | translate}}</h1>
              <!-- modified h2 to h1-->
                <p class="pb-2">{{ 'collection.delete.text' | translate:{ dso: dso.name } }}</p>
                <div class="form-group row">
                  <div class="col text-right">
                    <button class="btn btn-outline-secondary" (click)="onCancel(dso)" [disabled]="(processing$ | async)">
                      <span aria-hidden="true" class="fas fa-times"></span> {{'collection.delete.cancel' | translate}}
                    </button>
                    <button class="btn btn-danger mr-2" (click)="onConfirm(dso)" [disabled]="(processing$ | async)">
                      <span *ngIf="processing$ | async"><span aria-hidden="true" class='fas fa-circle-notch fa-spin'></span> {{'collection.delete.processing' | translate}}</span>
                      <span *ngIf="!(processing$ | async)"><span aria-hidden="true" class="fas fa-trash"></span> {{'collection.delete.confirm' | translate}}</span>
                    </button>
                  </div>
                </div>
            </div>
        </ng-container>

    </div>

</div>
