.gcweb.row {
  display: block;
  flex-wrap: unset;
}

@media (min-width: 768px) {
  .gcweb.col-md-4 {
      flex: unset;
      max-width: unset;
  }
}

@media (min-width: 576px) {
  .gcweb.col-sm-5 {
      flex: unset;
      max-width: unset;
  }
  .gcweb.container {
     max-width: unset; 
  }
}
