
    <form action="#" method="get" id="searchForm" class="wb-tables-filter" >
       <section *ngIf="(filters | async)?.hasSucceeded" class="panel panel-default">
          <header class="panel-heading">
             <h2 class="panel-title h4">{{"search.filters.head" | translate}}</h2>
          </header>
          <div class="panel-body">
             <section id="details-elements">
               <ng-container *ngFor="let filter of (filters | async)?.payload; trackBy: trackUpdate; let first = first;">
                  <gc-search-filter [filter]="filter" [inPlaceSearch]="inPlaceSearch" [open]="first"></gc-search-filter>
               </ng-container>
             </section>
         </div>
         <footer class="panel-footer">
             <button [routerLink]="[searchLink]" [queryParams]="clearParams | async" queryParamsHandling="merge" class="btn btn-primary" type="submit"><span class="fa fa-undo" aria-hidden="true"></span> {{"search.filters.reset" | translate}}</button></footer>
         </section>
     </form>