
    <form action="#" method="get" id="searchForm" class="wb-tables-filter" >
       <section *ngIf="(filters | async)?.hasSucceeded" class="panel panel-default">
          <header class="panel-heading">
             <h2 class="panel-title h4">{{"search.filters.head" | translate}}</h2>
          </header>
          <div class="panel-body">
             <section id="details-elements">
               <ng-container *ngFor="let filter of (filters | async)?.payload; trackBy: trackUpdate; let first = first;">
                  <gc-search-filter [filter]="filter" [inPlaceSearch]="inPlaceSearch" [open]="first"></gc-search-filter>
               </ng-container>
                <!-- <details class="gc-chckbxrdio">
                   <summary>Subject</summary>
                  <fieldset>
                      <legend><span class="field-name wb-inv">Subject</span></legend>
                       <ul class="list-unstyled">
                           <li class="checkbox gc-chckbxrdio">
                             <input type="checkbox" name="subject" value="1" id="subject1" />
                             <label for="subject1">
                                 
                                     GC Core Thesaurus 
                                 <span class="badge">13</span>
                                 
                             </label>
                         </li>
                         <li class="checkbox gc-chckbxrdio">
                             <input type="checkbox" name="subject" value="2" id="subject2" />
                             <label for="subject2">
                                 
                                 Economics and Industry
                                 <span class="badge">9</span>
                             
                             </label>
                      </li>
                    </ul>
                   </fieldset>
                   <label for="subjects" class="wb-inv">Subjects</label>
                   <div class="input-group">
                      <input type="text" class="form-control" id="subjects" placeholder="Search subject name" />
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"  value="submit"><span class="fa-search fa"></span><span class="wb-inv">Search subject</span></button>
                      </span>
                   </div>
                </details>
                <details class="gc-chckbxrdio">
                   <summary>Date</summary>
                   <div class="row mrgn-tp-md">
                      <div class="form-group col-sm-6 pull-left">
                         <label for="startdate"><span class="field-name">Start Date</span></label>
                         <input class="form-control" id="startdate" name="startdate" type="date" data-rule-dateISO="true" />
                      </div>
                      <div class="form-group col-sm-6 pull-right">
                         <label for="enddate"><span class="field-name">End Date</span></label>
                         <input class="form-control" id="enddate" name="enddate" type="date" data-rule-dateISO="true" />
                      </div>
                   </div>
                  <ul class="list-unstyled">
                     <li> <a href="#" class="list-group-item">1954 - 1959 <span class="badge">1</span> </a></li>
                      <li> <a href="#" class="list-group-item"> 1960 - 1979 <span class="badge">2</span></a></li>
                      <li> <a href="#" class="list-group-item"> 1980 - 1999 <span class="badge">3</span></a></li>
                      <li> <a href="#" class="list-group-item"> 2000 - 2019 <span class="badge">29</span></a></li>
                      <li> <a href="#" class="list-group-item"> 2020 - 2024 <span class="badge">84</span></a></li>
                  </ul>
                </details>
                <details class="gc-chckbxrdio">
                   <summary>Contains files</summary>
                   <fieldset>
                      <legend><span class="field-name wb-inv">Contains files</span></legend>
                       <ul class="list-unstyled lst-spcd-2">
                         <li class="radio">
                             
                                 <input type="radio" name="containFile" value="1" id="yes" /> 
                                 <label for="yes" ><span class="mrgn-rght-lg">Yes</span> <span class="badge">120</span>
                                 </label>
                             
                         </li>
                     <li class="radio">
                         
                             <input type="radio" name="containFile" value="2" id="no" /> 
                             <label for="no" >No <span class="badge">2</span></label>
                         
                      </li>
                      </ul>
                   </fieldset>
                </details>
                <details class="gc-chckbxrdio">
                   <summary>Item type</summary>
                   <fieldset>
                      <legend><span class="field-name wb-inv">Item type</span></legend>
                  <ul class="list-unstyled">
                     <li class="checkbox gc-chckbxrdio">
                        <input type="checkbox" name="Publication" value="1" id="Publication" />
                        <label for="Publication"> Publication <span class="badge">14</span></label>
                      </li>
                      <li class="checkbox gc-chckbxrdio">
                        <input type="checkbox" name="Person" value="2" id="Person" />  <label for="Person">Person <span class="badge">2</span></label>
                       </li>
                   <li class="checkbox gc-chckbxrdio">
                         <input type="checkbox" name="Journal" value="3" id="Journal" /> <label for="Journal">Journal <span class="badge">2</span></label>
                       </li>
                   <li class="checkbox gc-chckbxrdio">
                         <input type="checkbox" name="Organization unit" value="4" id="Organizationunit" /><label for="Organizationunit"> Organization unit <span class="badge ">1</span></label>
                      </li>
                    <li class="checkbox gc-chckbxrdio">
                         <input type="checkbox" name="Project" value="5" id="Project" /><label for="Project"> Project <span class="badge">1</span></label>
                     </li>
                 </ul>
                      <label for="item_type" class="wb-inv">Item Type</label>
                      <div class="input-group">
                         <input type="text" class="form-control" id="item_type" placeholder="Search item type" />
                         <span class="input-group-btn">
                         <button class="btn btn-default" type="button" value="submit"><span class="fa-search fa"></span><span class="wb-inv">Search Item Type</span></button>
                         </span>
                      </div>
                   </fieldset>
                </details>
                 -->
             </section>
         </div>
         <footer class="panel-footer">
             <button [routerLink]="[searchLink]" [queryParams]="clearParams | async" queryParamsHandling="merge" class="btn btn-primary" type="submit"><span class="fa fa-undo" aria-hidden="true"></span> {{"search.filters.reset" | translate}}</button></footer>
         </section>
     </form>