<div class="d-flex flex-row">
  <!--FOSRC change start-->
  <h1 class="item-page-title-field mr-auto">
    <!-- {{'publication.page.titleprefix' | translate}} -->
    <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
  </h1>
  <!--FOSRC change end (h2 is converted to h1)-->
  <div class="pl-2">
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'publication.page.edit'"></ds-dso-page-edit-button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'publication.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'publication.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'publication.page.volume-title'">
    </ds-generic-item-page-field>
    <!--
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'publication.page.publisher'">
    </ds-generic-item-page-field>-->
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isProjectOfPublication'"
      [label]="'relationships.isProjectOf' | translate">
    </ds-related-items>
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isOrgUnitOfPublication'"
      [label]="'relationships.isOrgUnitOf' | translate">
    </ds-related-items>
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isJournalIssueOfPublication'"
      [label]="'relationships.isJournalIssueOf' | translate">
    </ds-related-items>
    <!-- abstract -->
    <!--<ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>-->
    <ds-item-page-collapsable-field [item]="object"
     [label] ="'item.page.abstract'"
     [field] ="'dc.description.abstract'" >
    </ds-item-page-collapsable-field>
    <!-- -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'publication.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <!--DOI -->
    <ds-item-page-odi-field [item]="object" >
    </ds-item-page-odi-field>
    <!-- -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>

    <!-- Publisher-->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [separator]="','"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
    <!-- 
    <div>xxxCitation</div>
    <ds-item-page-citation-field [item]="object">
    </ds-item-page-citation-field>
-->
    <!-- Summary
    <ds-generic-item-page-field [item]="object"
      [fields]="['nrcan.summary']"
      [separator]="','"
      [label]="'Plain Language Summary'">
    </ds-generic-item-page-field> -->
    <ds-item-page-collapsable-field [item]="object"
     [label] ="'Plain Language Summary'"
     [field] ="'nrcan.summary'" >
    </ds-item-page-collapsable-field>
    <!-- -->


    <!-- Meeting-->
    <ds-generic-item-page-field [item]="object"
      [fields]="['nrcan.meeting.name']"
      [separator]="','"
      [label]="'Meeting'">
    </ds-generic-item-page-field>
    <!-- -->

    <!-- Area -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['nrcan.area']"
      [separator]="','"
      [label]="'Area'">
    </ds-generic-item-page-field>
    <!-- -->


    <!-- Polygon -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['geospatial.bbox']"
      [separator]="','"
      [label]="'Polygon'">
    </ds-generic-item-page-field>
    <!-- -->

    <!-- Language -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.language']"
      [separator]="','"
      [label]="'item.preview.dc.language.iso'">
    </ds-generic-item-page-field>
    <!-- -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" role="button" [routerLink]="[itemPageRoute + '/full']">
        <span aria-hidden="true" class="fas fa-info-circle"></span> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
