<ds-metadata-field-wrapper-dl [label]="label | translate" *ngIf="isDescriptionList">
    <ul class="uri-list">
        <li *ngFor="let mdValue of mdValues; let last=last;">
            <a  [href]="domainAwareValue(linktext || mdValue.value)">
                {{ domainAwareValue(linktext || mdValue.value) }}<span *ngIf="!last" [innerHTML]="separator"></span>
             </a>
        </li>
    </ul>
</ds-metadata-field-wrapper-dl>

<ds-metadata-field-wrapper [useGcWeb]="true" [label]="label | translate" *ngIf="!isDescriptionList">
    <ul class="uri-list">
        <li *ngFor="let mdValue of mdValues; let last=last;">
            <a  [href]="domainAwareValue(linktext || mdValue.value)">
                {{ domainAwareValue(linktext || mdValue.value) }}<span *ngIf="!last" [innerHTML]="separator"></span>
             </a>
        </li>
    </ul>
</ds-metadata-field-wrapper>
