<div class="clamp-{{background}}-{{lines}} min-{{minLines}} {{type}} {{fixedHeight ? 'fixedHeight' : ''}}">
    <div #content class="content dont-break-out preserve-line-breaks">
        <ng-content></ng-content>
    </div>

    <button class="btn btn-link p-0 expandButton" dsDragClick (actualClick)="toggle()">
        <i class="fas fa-angle-down mr-1"></i><span>{{ 'truncate.expand' | translate }}</span>
      </button>
      <button class="btn btn-link p-0 collapseButton" dsDragClick (actualClick)="toggle()" *ngIf="expand && expandable">
        <i class="fas fa-angle-up mr-1"></i><span>{{ 'truncate.collapse' | translate }}</span>
      </button>
</div>