// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
    color: #{$gray-100};
  }

  h5 {
    font-size: 1.1rem
  }
}

header {
  ds-navbar-section > li,
  ds-expandable-navbar-section > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.lead {
  margin-bottom: 23px;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4; }

  @media (min-width: 768px) {
    .lead {
      font-size: 24px; } }