h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }

    
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #6f6f6f; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 23px;
  margin-bottom: 11.5px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 1.9em; }

h2, .h2 {
  font-size: 1.8em; }

h3, .h3 {
  font-size: 1.2em; }

h4, .h4 {
  font-size: 1.1em; }

h5, .h5 {
  font-size: 1em; }

h6, .h6 {
  font-size: 0.95em; }

  
 //	Heading top margins
h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  font-weight: 700; }

h1,
.h1, h2,
.h2 {
  margin-top: 38px; }

h3, .h3 {
  margin-top: 32px; }

h4, .h4 {
  margin-top: 26px; }

h5, .h5 {
  margin-top: 23px; }

h6, .h6 {
  margin-top: 21px; }

/*h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6, .home .home-most-requested li {
  font-family: Lato, sans-serif; }
  */
  h1 {
    border-bottom: 1px solid #af3c43;
    margin-bottom: .2em;
    margin-top: 1em;
    padding-bottom: .2em; }


    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        -webkit-font-variant-ligatures: no-common-ligatures;
                font-variant-ligatures: no-common-ligatures;
        font-weight: 600; }
      
      .h3,
      .h4,
      .h5,
      .h6 {
        border: 0; }