// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

//$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


/* Reassign color vars to semantic color scheme */
$blue: #43515f !default;
$blue-100: #E3F2FD !default;
$green: #92C642 !default;
$cyan: #207698 !default;
$yellow: #ec9433 !default;
$red: #CF4444 !default;
$dark: #43515f !default;

// $ospr-blue-900: #212529 !default;
$ospr-blue-900: #091c2d !default;
$ospr-blue-800: #26374a !default;
$ospr-blue-500: #143c5f !default;
$ospr-blue-400: #16446c !default;
$ospr-blue-300: #1c578a !default;
$ospr-blue-200: #2572b4 !default;


$ospr-gray-500: #335075 !default;


$gray-800: #343a40 !default;
$gray-600: #6c757d !default;
$gray-400: #ced4da !default;
$gray-100: #f8f9fa !default;

$body-color: $gray-800 !default;                    // Bootstrap $gray-800

$table-accent-bg: $gray-100 !default;   // Bootstrap $gray-100
$table-hover-bg: $gray-400 !default;   // Bootstrap $gray-400

$yiq-contrasted-threshold:  170 !default;

/*
 Default Mixins and namespace variables
 */
%wb-default-screen-verdana-font {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

%wb-default-screen-clearfix {
	content: "";
	display: table;
}

%accessible-invisible {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}


$theme-colors: (
  primary: $ospr-blue-800,
  secondary: $ospr-gray-500,
  success: $green,
  info: $gray-600,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $dark
) !default;

$link-color: map-get($theme-colors, info) !default;

:root 

{
  --ospr-blue-900: #{$ospr-blue-900};
  --ospr-blue-800: #{$ospr-blue-800};
  --ospr-blue-500: #{$ospr-blue-500};
  --ospr-blue-400: #{$ospr-blue-400};
  --ospr-blue-300: #{$ospr-blue-300};
  --ospr-blue-200: #{$ospr-blue-200};

  --ospr-gray-500: #{$ospr-gray-500};

}