
  .underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #333333;
  }

.list-group-item.hover {
    color: #762c29;
    font-weight: bold;
    background-color: #E3F2FD; }


.list-group-item.active {
      z-index: 2;
      color: #207698;
      background-color: #f8f9fa;
      border-color: #E3F2FD;
}

.dropdown-item.active {
    color: rgb(0, 0, 0);
}

a.nav-link:hover{
    color: #0535D2 !important;
  }

a.nav-link:focus{
    color: #0535D2 !important;
  }
  a.nav-link:active{
    color: #0535D2 !important;
  }

.align-right{
    margin-right: 0;
    margin-left: auto;
}

.text-primary {
  color: #207698 !important;
}

.text-light {
  color: #207698 !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #212529;
  border-color: #E3F2FD;
}

.btn-dark {
  color: black;
  background-color: #f8f9fa;
  border-color: black;
}

.btn-outline-primary{
  color: #207698;
  border-color: #212529;
}

.btn-outline-primary:disabled {
  color: #207698;
  background-color: transparent;
  border-color: #212529;
}

.btn-outline-secondary{
  color: #207698;
  border-color: #212529;
}

.btn-primary.disabled .btn-primary:disabled {
  color: #207698;
  border-color: #212529;
}

.btn-outline-secondary{
  color: #207698;
  border-color: #212529;
}

.badge-primary {
  color: #207698;
  background-color: #fff;
}

.badge-success {
  color:#497405;
  background-color: #fff;
}

.badge-info {
  color: #207698;
  background-color: #fff;
}

.klaro .cookie-modal p, .klaro .cookie-modal strong, .klaro .cookie-modal h1, .klaro .cookie-modal h2, .klaro .cookie-modal ul, .klaro .cookie-modal li, .klaro .context-notice p, .klaro .context-notice strong, .klaro .context-notice h1, .klaro .context-notice h2, .klaro .context-notice ul, .klaro .context-notice li, .klaro .cookie-notice p, .klaro .cookie-notice strong, .klaro .cookie-notice h1, .klaro .cookie-notice h2, .klaro .cookie-notice ul, .klaro .cookie-notice li {
  color: var(--font-color-dark);
}


.klaro .cookie-modal .cm-btn.cm-btn-success, .klaro .context-notice .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success {
  background: var(--bs-primary);
}

.klaro .cookie-modal .cm-modal.cm-klaro {
  background: #f8f9fa;
  color: var(--bs-light);
}

.klaro .cookie-modal .cm-modal .hide svg {
  stroke: black;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
  color: var(--ds-navbar-link-color);
  text-decoration: none;
}


.klaro .cookie-modal .cm-btn.cm-btn-info, .klaro .context-notice .cm-btn.cm-btn-info, .klaro .cookie-notice .cm-btn.cm-btn-info {
  background: var(--bs-blue);
  border-color: black;
  color: white;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-service span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-service span.cm-required, .klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-purpose span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-purpose span.cm-required, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service span.cm-required, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose span.cm-required {
  padding-left: 0.2em;
  font-size: 0.8em;
  color: #495057;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-service p.purposes, .klaro .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-purpose p.purposes, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service p.purposes, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose p.purposes {
  font-size: 0.8em;
  color: #424242;
}

.klaro .cookie-modal .cm-btn, .klaro .context-notice .cm-btn, .klaro .cookie-notice .cm-btn {
  color: rgb(255, 255, 255);
  color: var(--font-color-dark, #eee);
  background: var(--bs-secondary);
  border-color: #212529;
  border-radius: 6px;
  padding: 6px 10px;
  margin-right: 0.5em;
  border: 0;
  padding: 0.4em;
  font-size: 1em;
  cursor: pointer;
}

.klaro .cookie-notice:not(.cookie-modal-notice)

{

  background: var(--gray-100);
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

button:focus-visible {
  /* custom focus styles */
  box-shadow: 0 0 2px 2px #01090f;
  border-color: blue;
}

.page-link:focus-visible {
  /* custom focus styles */
  box-shadow: 0 0 2px 2px #01090f;
  border-color: blue;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
  border-color: black;
}