.list-group-item.hover {
    color: #762c29;
    font-weight: bold;
    background-color: #E3F2FD; }

.dropdown-item.active {
    color: rgb(0, 0, 0);
}

a.nav-link:hover{
    color: #0535D2 !important;
  }

a.nav-link:focus{
    color: #0535D2 !important;
  }
  a.nav-link:active{
    color: #0535D2 !important;
  }

.align-right{
    margin-right: 0;
    margin-left: auto;
}

.text-primary {
  color: #207698 !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #212529;
  border-color: #E3F2FD;
}
