.list-group-item.hover {
    color: #762c29;
    font-weight: bold;
    background-color: #ffffff; }




.dropdown-item:active {
    color: rgb(255, 223, 223);
}

a.nav-link:hover{
    color: #0535D2 !important;
  }

a.nav-link:focus{
    color: #0535D2 !important;
  }
  a.nav-link:active{
    color: #0535D2 !important;
  }


.align-right{
    margin-right: 0;
    margin-left: auto;
}

