//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>

@font-face{font-family:'Glyphicons Halflings';src:url('../assets/fonts/glyphicons-halflings-regular.eot');src:url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'),url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
