<div class="container w-100 h-100">
  <div class="wb-frmvld">
    <div class="row">
      <div class="col-sm-12 pull-left mrgn-bttm-lg">

        <ng-container *ngIf="translate.currentLang === 'en'">
          <h1 property="name" id="wb-cont">FOSRC policies and standards</h1>
          <h2>Preservation and retention policy</h2>
          <p>
            The purpose of the Federal Open Science Repository of Canada (FOSRC) is to ensure long-term
            preservation of federally funded research material. The metadata and full text will be retained using
            best practices for digital preservation, unless there is a request that meets criteria for withdrawal.
          </p>
          
          <h2>Withdrawal and modification policy</h2>
          
          <p>There may be circumstances that warrant modifications or withdrawals of contributed items or
            documents as outlined below:</p>
          <ul>
            <li><strong>Modifying an item description: </strong>Modifications are permitted to correct metadata
              errors.</li>
            <li><strong>Modifying an item:</strong> Modifications are permitted in the form of updated versions
              deposited in addition to the original documents.</li>
            <li><strong>Withdrawing an item:</strong> Items may be withdrawn in cases that include, but are not
              limited to, violation of terms of a publisher’s license, copyright infringement, or invasion of
              privacy. Requests for withdrawal are evaluated on a case-by-case basis and must include a
              justification. </li>
          
          </ul>
          
          <p><a href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">Contact us</a> to request modification or withdrawal of
            an item, including a detailed justification as part of the request. </p>
          
          <h2>Authorized submitters</h2>
          <p>The following Government of Canada departments and agencies can deposit materials into the
            repository:</p>
          <ul>
            <li> Agriculture and Agri-Food Canada</li>
            <li> Canadian Food Inspection Agency</li>
            <li> Canadian Space Agency</li>
            <li> Environment and Climate Change Canada</li>
            <li> Fisheries and Oceans Canada</li>
            <li> Health Canada</li>
            <li> Public Health Agency of Canada</li>
            <li> Transport Canada</li>
          </ul>
          <p>If you are an employee from one of these organizations interested in depositing your work, <a [routerLink]="'/contact-us'">contact your departmental representative</a> for more information.
          <p>Please <a href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">contact the FOSRC</a> if you would like to learn
            more about the repository.</p>
          
          <h2>Ownership and usage of content provided on this site </h2>
          <p>Please refer to Government of Canada <a href="https://www.canada.ca/en/transparency/terms.html">terms
              and conditions</a> for guidance on non-commercial and commercial reproduction and copyright
            protection relating to content on this site, except where explicitly noted otherwise. </p>
          
          <h2>Official languages </h2>
          <p>The FOSRC respects the <a href="https://laws-lois.justice.gc.ca/eng/acts/O-3.01/index.html">Official
              Languages Act</a> and is committed to ensuring information and services are available in both
            English and French. However, visitors to the repository should be aware that some materials are only
            available in the language in which the authors have chosen to originally communicate their scientific
            results. In addition, some deposited materials are from non-government sources that are not subject to
            the Act. While these documents are available in the language of original publication, abstracts may be
            made available in both official languages upon request. 
          </p>
          
          <h2>Accessibility</h2>
          <p>The FOSRC respects the <a href="https://www.laws-lois.justice.gc.ca/eng/acts/A-0.6/">Accessible
              Canada Act</a> and is committed to offering information and services in an accessible format where
            possible. However, in some instances where the FOSRC includes historical material and documents from
            non-government sources, including those formatted by third party publishers, these may not be
            available in accessible formats by default. Where possible, these documents will be provided in an
            accessible format upon request. 
          </p>

        </ng-container>

        <ng-container *ngIf="translate.currentLang === 'fr'">
                <h1 property="name" id="wb-cont">Politiques et normes du DFSOC</h1>
                <h2>Politique de conservation et de préservation</h2>
                <p>
                  Le DFSOC a pour mission d’assurer la conservation à long terme des ressources documentaires issues des
                  travaux de recherche financés par le gouvernement fédéral. Les métadonnées et le texte intégral seront
                  conservés selon les meilleures pratiques de conservation numérique, à moins qu’une demande satisfasse
                  aux critères de retrait.
                </p>
                
                <h2>Politique relative au retrait et à la modification de ressources documentaires</h2>
                
                <p>Certaines circonstances peuvent toutefois justifier la modification ou le retrait d’éléments ou de
                  documents du dépôt (voir ci-dessous).</p>
                <ul>
                  <li><strong>Modification de la description d’une ressource documentaire :</strong> Les modifications
                    sont autorisées pour corriger les erreurs qui se rapportent à des métadonnées.</li>
                  <li><strong>Modification d’une ressource documentaire : </strong> Les modifications sont autorisées
                    sous la forme de versions mises à jour déposées en plus des ressources documentaires originales
                    (document, données, etc.).</li>
                  <li><strong>Retrait d’une ressource documentaire : </strong> Des ressources peuvent être retirées dans
                    certaines circonstances qui incluent, sans s’y limiter, la violation des modalités d’une licence
                    d’éditeur, la violation des droits d’auteur ou l’atteinte à la vie privée. Les demandes de retrait
                    sont évaluées au cas par cas et doivent être justifiées. </li>
                
                </ul>
                
                <p><a href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">Contactez-nous</a> pour demander la modification ou le
                  retrait d’une ressource documentaire. N'oubliez pas de fournir une justification détaillée.</p>
                
                <h2>Déposants autorisés</h2>
                <p>Voici la liste des ministères et organismes du gouvernement du Canada qui sont autorisés à déposer
                  des ressources documentaires dans le dépôt d’archives :</p>
                <ul>
                  <li>Agence canadienne d’inspection des aliments</li>
                  <li>Agence de la santé publique du Canada</li>
                  <li>Agence spatiale canadienne</li>
                  <li>Agriculture et Agroalimentaire Canada</li>
                  <li>Environnement et changement climatique Canada</li>
                  <li>Pêches et Océans Canada</li>
                  <li>Santé Canada</li>
                  <li>Transports Canada</li>
                </ul>
                
                
                
                <p>Si vous êtes membre du personnel de l’une de ces organisations et que vous souhaitez déposer vos
                  travaux, <a [routerLink]="'/contactez-nous'">contactez votre représentant ministériel</a> ou représentante
                  ministérielle pour en savoir plus.</p>
                <p>N’hésitez pas à communiquer avec le <a href="mailto:FOSRC-DFSOC@nrc-cnrc.gc.ca">DFSOC</a> si vous
                  souhaitez de plus amples renseignements au sujet du dépôt.</p>
                
                <h2>Propriété et utilisation du contenu fourni sur ce site</h2>
                <p>
                
                  Consultez l'<a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a> du gouvernement du
                  Canada pour la reproduction non commerciale et commerciale, et la protection des droits d’auteur
                  relatifs au contenu de ce site, sauf s’il y a mention explicite contraire.
                </p>
                
                <h2>Langues officielles</h2>
                <p>Le DFSOC respecte la <a href="https://laws-lois.justice.gc.ca/fra/lois/o-3.01/index.html"><em>Loi sur
                      les langues officielles</em></a> et s’engage à veiller à ce que l’information et les services
                  soient disponibles dans les deux langues officielles, soit l’anglais et le français. Toutefois, nous
                  tenons à rappeler aux visiteurs du dépôt que certaines ressources documentaires ne sont disponibles
                  que dans la langue dans laquelle elles nous ont été fournies à l’origine par le déposant ou la
                  déposante. En outre, certaines ressources déposées proviennent de sources non gouvernementales qui ne
                  sont pas assujetties à la Loi. Bien que ces ressources documentaires soient disponibles dans la langue
                  de la publication originale, des résumés peuvent être fournis dans les deux langues officielles sur demande.
                </p>
                
                <h2>Accessibilité</h2>
                <p>
                
                  Le DFSOC respecte la <a href="https://www.laws-lois.justice.gc.ca/fra/lois/a-0.6/"><em>Loi canadienne
                      sur l’accessibilité</em></a> et s’engage à offrir, dans la mesure du possible, des informations et
                  des services dans un format accessible. Toutefois, dans certains cas, lorsque le DFSOC inclut du
                  matériel et des documents historiques issus de sources non gouvernementales, y compris ceux mis en
                  forme par des éditeurs externes, il se peut que ces documents ne soient pas disponibles par défaut
                  dans des formats qui répondent aux normes d’accessibilité. Ces documents seront fournis, autant que
                  possible et sur demande, dans un format conforme à ces
                  normes.
                </p>
        </ng-container>
      </div>
    </div>
  </div>
  <ds-page-details></ds-page-details>
</div>