<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>

  <!-- OSPR Changes-->
  <h1 id="wb-cont" class="col-9 px-0">{{'home.top-home.head' | translate}}</h1> 
  <!-- p to h1 -->
  
  <!-- Once "Learn more" page is completed bring this section back-->
  <!-- <p class="col-6 px-0">{{'home.page.description' | translate}} <a href="learn-more">{{'home.learn.more' | translate}}</a></p>-->
  <p class="col-9 px-0">{{'home.page.description' | translate}} </p>
  <div class="search-box mx-0 col-12" style="background-color:#F5F5F5">
    <!-- OSPR Changes-->
    <label class="h4" for="query">{{'home.page.search-tips-title' | translate}}</label>
    <!-- h5 changed to label-->
  <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  <p>{{'home.page.search-tips' | translate}}</p>
  <div class="row">
  <!--Once "Advance Search" page is is completed bring this section back-->
  <div class="col justify-content-start">
    <!--<a href="advanced-search"> {{'home.button.advanced-search' | translate}}</a>-->
  </div>

  <div class="col align-self-center">
    <!--Start FOSRC  Changes- Issue 1395 -->
    <!--<button class="btn btn-primary mt-0" type="button" role="button" onclick="window.location.href='/community-list';" value="w3docs">{{'home.top-home.browser' | translate}}</button> --> 
    <!-- End of FOSRC changes-->
    <!--Once Help details page is complete bring back this Help button into Home page -->
    <!-- <button class="btn btn-primary" type="button" role="button" onclick="window.location.href='/help';" value="w3docs">{{'home.button.help' | translate}}</button> -->
  </div>
  <div class="col justify-content-end float-right text-right"><a href="\tips-for-searching">{{'home.button.tips-for-searching' | translate}}</a>
    </div>
  </div>
  </div>
  <!-- TESTING CODE -->

  <button class="btn btn-primary">Button primary</button>
  <button class="btn btn-primary" disabled>Button primary</button>
  <button class="btn btn-secondary">Button secondary</button>
  <button class="btn btn-secondary" disabled>Button secondary</button>
  <button class="btn btn-default">Button default</button>
  <button class="btn btn-default" disabled>Button default</button>
  <button class="btn btn-outline-primary">Button outline primary</button>
  <button class="btn btn-outline-primary" disabled>Button outline primary</button>
  <button class="btn btn-outline-secondary">Button outline secondary</button>
  <button class="btn btn-outline-secondary" disabled>Button outline secondary</button>
  <button class="btn btn-info">Button info</button>
  <button class="btn btn-info" disabled>Button info</button>
  <button class="btn btn-success">Button success</button>
  <button class="btn btn-success" disabled>Button success</button>
  <button class="btn btn-danger">Button danger</button>
  <button class="btn btn-danger" disabled>Button danger</button>
  <button class="btn btn-warning">Button warning</button>
  <button class="btn btn-warning" disabled>Button warning</button>
  <button class="btn btn-light">Button light</button>
  <button class="btn btn-light" disabled>Button light</button>
  <button class="btn btn-dark">Button dark</button>
  <button class="btn btn-dark" disabled>Button dark</button>
  <a _ngcontent-dspace-angular-c362="" role="button" class="edit-button btn btn-dark btn-sm ng-star-inserted" ng-reflect-router-link="/communities/e1e1d2bc-cf01-424" ng-reflect-ngb-tooltip="Edit this community" title="Edit this community" aria-label="Edit this community" href="/communities/e1e1d2bc-cf01-4248-89ac-4309cb83cc00/edit/metadata">
	
  
    <span _ngcontent-dspace-angular-c362="" aria-hidden="true" class="fas fa-pencil-alt fa-fw"></span>
    <span _ngcontent-dspace-angular-c362="" class="wb-inv">Edit this community</span>
    
    <span _ngcontent-dspace-angular-c320="" class="float-right filter-value-count ml-auto">
      <span _ngcontent-dspace-angular-c320="" class="badge badge-secondary badge-pill">421</span>
  </span>
  
  </a>
  <!-- TESTING CODE -->
  </div>
