<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>

  <!-- OSPR Changes-->
  <h1 id="wb-cont" class="col-9 px-0">{{'home.top-home.head' | translate}}</h1> 
  <!-- p to h1 -->
  
  <!-- Once "Learn more" page is completed bring this section back-->
  <!-- <p class="col-6 px-0">{{'home.page.description' | translate}} <a href="learn-more">{{'home.learn.more' | translate}}</a></p>-->
  <p class="col-9 px-0">{{'home.page.description' | translate}} </p>
  <div class="search-box mx-0 col-12" style="background-color:#F5F5F5">
    <!-- OSPR Changes-->
    <label class="h4" for="fosrc-search">{{'home.page.search-tips-title' | translate}}</label>
    <!-- h5 changed to label-->
  <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  <p>{{'home.page.search-tips' | translate}}</p>
  <div class="row">
    <div class="col justify-content-start">
        <a href="geo-search"> Geo Search</a>
    </div>
  </div>
  <div class="row">
  <!--Once "Advance Search" page is is completed bring this section back-->
  <div class="col justify-content-start">
    <a href="advanced-search"> {{'home.button.advanced-search' | translate}}</a>
  </div>

  <div class="col align-self-center">
    <!--Start FOSRC  Changes- Issue 1395 -->
    <!--<button class="btn btn-primary mt-0" type="button" role="button" onclick="window.location.href='/community-list';" value="w3docs">{{'home.top-home.browser' | translate}}</button> --> 
    <!-- End of FOSRC changes-->
    <!--Once Help details page is complete bring back this Help button into Home page -->
    <!-- <button class="btn btn-primary" type="button" role="button" onclick="window.location.href='/help';" value="w3docs">{{'home.button.help' | translate}}</button> -->
  </div>
  </div>
  </div>
  </div>
