
<div class="container">
    <div gcweb class="row">
        <div class="col-md-12">
            <h1 property="name" id="wb-cont">{{'search.form.search' | translate}}</h1>
        </div>
    
        <!-- <ng-container [ngTemplateOutlet]="searchFilters"></ng-container> -->
        <div gc-search-filters class="col-md-4 pull-left"></div>
        <div class="col-md-8 pull-right mrgn-bttm-lg">
            <div class="panel">
                <div class="panel-body">
                    <div class="row mrgn-bttm-lg mrgn-lft-sm mrgn-rght-sm">
                        <gc-search-labels></gc-search-labels>
                        <div class="col-md-12 p-0 ">
                            <label for="main-searchrepository">{{ 'home.search-form.placeholder' | translate }}</label>
                            <div class="input-group">
                                    <input (keydown.enter)="applyQuery(repositorySearch.value)" #repositorySearch type="text" class="form-control" id="main-searchrepository" />
                                    <span class="input-group-btn">
                                        <button (keydown.enter)="applyQuery(repositorySearch.value)" (keydown.space)="applyQuery(repositorySearch.value)" (click)="applyQuery(repositorySearch.value)" class="btn btn-primary" value="submit" type="button"><span
                                                class="fa fa-search"></span><span class="wb-inv">{{ 'home.search-form.placeholder' | translate }}</span></button>
                                    </span>
                                </div>
                        </div>
                    </div>
                    <ng-container [ngTemplateOutlet]="searchResults"></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section>
<div class="container" *ngIf="(isXsOrSm$ | async)">
    <div class="row">
        <div class="col-12">
            FOSRC Changes - 1619
            <h1 *ngIf="adminSearch" id="wb-cont">{{'admin.search.breadcrumbs' | translate}}</h1>
            <h1 *ngIf="!adminSearch" id="wb-cont">{{'search.form.search' | translate}}</h1> 
            End of FOSRC Changes
            <ng-template *ngTemplateOutlet="searchForm"></ng-template>
            <h2>{{'search.results.head' | translate}}</h2>
            <ds-search-settings [searchOptions]="searchOptions$ | async" [sortOptions]="sortOptions$ | async"></ds-search-settings>
            FOSRC changes : ticket 327
            commented <ds-view-mode-switch [inPlaceSearch]="inPlaceSearch"></ds-view-mode-switch>
        </div>
    </div>
</div>

<ds-page-with-sidebar [id]="'search-page'" [sidebarContent]="sidebarContent">
    <div class="row">
        
        <div class="col-12" *ngIf="!(isXsOrSm$ | async)">
            FOSRC Changes - 1619
            <h1 *ngIf="adminSearch" id="wb-cont">{{'admin.search.breadcrumbs' | translate}}</h1>
            <h1 *ngIf="!adminSearch" id="wb-cont">{{'search.form.search' | translate}}</h1> 
            End of FOSRC Changes
            <ng-template *ngTemplateOutlet="searchForm"></ng-template>
            <h2>{{'search.results.head' | translate}}</h2>
            <ds-search-settings [searchOptions]="searchOptions$ | async" [sortOptions]="sortOptions$ | async"></ds-search-settings>
            FOSRC changes : ticket 327
            commented <ds-view-mode-switch [inPlaceSearch]="inPlaceSearch"></ds-view-mode-switch>
        </div>
        <div id="search-content" class="col-12">
            <ds-search-results [searchResults]="resultsRD$ | async"
                               [searchConfig]="searchOptions$ | async"
                               [configuration]="configuration$ | async"
                               disableHeader= "true"
                               [context]="context"></ds-search-results>
        </div>
    </div>
</ds-page-with-sidebar>
</section> -->

<ng-template #sidebarContent>
    <ds-search-sidebar id="search-sidebar" *ngIf="!(isXsOrSm$ | async)"
                       [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
                       [searchOptions]="(searchOptions$ | async)"
                       [sortOptions]="(sortOptions$ | async)"
                       [inPlaceSearch]="inPlaceSearch"></ds-search-sidebar>
    <ds-search-sidebar id="search-sidebar-sm" *ngIf="(isXsOrSm$ | async)"
                       [resultCount]="(resultsRD$ | async)?.payload.totalElements"
                       [searchOptions]="(searchOptions$ | async)"
                       [sortOptions]="(sortOptions$ | async)"
                       (toggleSidebar)="closeSidebar()">
    </ds-search-sidebar>
</ng-template>

<ng-template #searchForm>
    <!-- <ds-search-form *ngIf="searchEnabled" id="search-form"
                    [query]="(searchOptions$ | async)?.query"
                    [scope]="(searchOptions$ | async)?.scope"
                    [currentUrl]="searchLink"
                    [scopes]="(scopeListRD$ | async)"
                    [inPlaceSearch]="inPlaceSearch"
                    [searchPlaceholder]="'search.search-form.placeholder' | translate">
    </ds-search-form> -->
    <div class="row mb-3 mb-md-1">
        <div class="labels col-sm-9 offset-sm-3">
            <ds-search-labels *ngIf="searchEnabled" [inPlaceSearch]="inPlaceSearch"></ds-search-labels>
        </div>
    </div>
</ng-template>



<ng-template #searchResults>
    <div *ngVar="(configuration$| async) as config" class="row mrgn-lft-sm mrgn-rght-sm">
        <div *ngVar="(resultsRD$ | async) as searchResults" class="panel panel-primary w-100">
            <header class="panel-heading">
                <h2 class="panel-title h4">{{'search.results.head' | translate}}</h2>
            </header>
            <div class="panel-body">
                <div class="row well well-small mrgn-lft-md mrgn-rght-md">
                    <div class=" col-md-8 pull-left">
                        <div class="input-group">
                            <label for="Sortby">{{'search.sidebar.settings.sort-by' | translate}}</label>
                            <select (change)="reloadOrder($event)" class="form-control" id="Sortby" name="Sortby">
                                
                                <option 
                                    *ngFor="let sortOption of (sortOptions$ | async)" 
                                    [attr.label]="('sorting.' + sortOption?.field + '.' +sortOption?.direction) | translate"
                                    [value]="sortOption?.field + ',' + sortOption?.direction.toString()"
                                    [selected]="sortOption?.field === config?.sort?.field && sortOption?.direction === (config?.sort?.direction)? 'selected': null"
                                    >
                                    {{('sorting.' + sortOption?.field + '.' +sortOption?.direction) | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="input-group">
                            <label for="pageResults">{{'search.sidebar.settings.rpp' | translate}}</label>
                            <select [attr.id]="'pageResults'" (change)="reloadRPP($event)" class="form-control" id="pageResults" name="pageResults">
                                <option 
                                    *ngFor="let pageSizeOption of (paginationOptions$ | async)?.pageSizeOptions"
                                    [value]="pageSizeOption" [selected]="pageSizeOption === +((paginationOptions$ | async).pageSize)">{{pageSizeOption}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <ds-loading *ngIf="hasNoValue(searchResults) || hasNoValue(searchResults.payload) || searchResults.isLoading"
                    message="{{'loading.search-results' | translate}}"></ds-loading>

                <ds-error *ngIf="searchResults?.hasFailed && (!searchResults?.errorMessage || searchResults?.statusCode != 400)"
                    message="{{'error.search-results' | translate}}"></ds-error>

                <div *ngIf="searchResults?.payload?.page.length == 0 || searchResults?.statusCode == 400">
                    {{ 'search.results.no-results' | translate }}
                    <a [routerLink]="['/search']" [queryParams]="{ query: surroundStringWithQuotes((searchOptions$ | async)?.query) }"
                        queryParamsHandling="merge">
                        {{"search.results.no-results-link" | translate}}
                    </a>
                </div>

                <ds-pagination
                    [paginationOptions]="(paginationOptions$ | async)"
                    [pageInfoState]="searchResults?.payload"
                    [collectionSize]="searchResults?.payload?.totalElements"
                    [sortOptions]="config?.sort"
                    [hideGear]="true"
                    [hidePagerWhenSinglePage]="true"
                    >
                <ul class="list-unstyled">
                    <li *ngFor="let result of searchResults?.payload?.page">
                        <gc-search-result [searchResult]="result"></gc-search-result>
                    </li>
                </ul>
                </ds-pagination>
            </div>
        </div>
    </div>
</ng-template>
