@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

[gcweb] {
  ::ng-deep {
    .btn-primary {
      background-color: #26374a;
      border-color: #26374a;
    }

    .pagination {
      font-size: initial;
      line-height: initial;
      display: flex !important;
    }
    .form-control {
      min-height: unset;
    }
    .input-group-btn {
      .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .h4 {
    margin-top: unset;
  }

}